.account-tabs-row {
    .account-title {
        font-size: 48px;
        margin-bottom: 50px;
    }
    .account-tabs {
        display: flex;
        width: 100%;
        padding-bottom: 0;
        gap: 30px;
        position: relative;
        p {
            margin: 0;
            font-size: 20px;
            line-height: 120%;
            cursor: pointer;
            position: relative;
            padding: 0 10px 13px 10px;
            &.active {
                color: var(--main-red);
                font-weight: 700;
                &::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 9999;
                    background: var(--main-red);
                    border-radius: 4px 4px 0px 0px;
                }
            }
        }
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: var(--light-grey-bg);
            border-radius: 4px 4px 0px 0px;
        }
    }
}

.account-row {
    justify-content: flex-start;
    .title {
        margin-bottom: 30px;
    }
}

.buttons-row {
    display: flex;
    gap: 15px;
}

.no-card, .no-gift {
    display: none;
}

#gift_edit {
    display: none;
}

.monthly-gift {
    margin: 0;
    span {
        font-weight: 600;
    }
}

.table-wrap.desc {
    width: 100%;
    .range {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 5px 0 20px;
        .desc {
            margin: 0 5px 0 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 160%;
        }
        .dates {
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: var(--dark-grey);
            padding: 10px 20px;
            border: 1px solid var(--light-grey);
            border-radius: 5px;
            &.active {
                color: var(--black);
                border-color: var(--black);
                background: var(--light-grey-bg);
                font-weight: 600;
            }
        }
    }
    table {
        width: 100%;
        thead {
            background: var(--light-grey-bg);
            border-radius: 5px;
        }
        tr {
            td, th {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 20px;
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
                letter-spacing: 0.01em;
                color: var(--black);
                text-align: left;
                box-sizing: content-box;
                width: 105px;
                &:first-child {
                    padding-left: 30px;
                }
                &:last-child {
                    padding-right: 30px;
                }
                &:nth-child(3) {
                    width: calc(100% - 735px);
                }            
            }
            th {
                font-weight: 700;
            }
        }
        tfoot td {
            font-weight: 700;
        }
    }
    .button {
        width: fit-content;
        margin-top: 5px;
    }
}

.table-wrap.mob {
    display: none;
    flex-direction: column;
    width: 100%;
    .col {
        padding: 5px 5px 5px 15px;
        width: 50%;
        .title {
            margin: 0;
            font-weight: 700;
            font-size: 10px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: var(--dark-grey);
        }
        .data {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--black);
        }
    }
    .items{
        .item {
            border: 1px solid var(--light-grey-bg);
            border-radius: 5px;
            padding: 5px 0;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            
        }
    }
    .footer {
        background: var(--light-grey-bg);
        border-radius: 5px;
        display: flex;
        .col {
            padding: 5px 5px 5px 15px;
            width: 50%;
            .data {
                font-weight: 700;
            }
        }
    }
    .button {
        margin-top: 20px;
        justify-content: center;
    }
}

.empty-message {
    display: none;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--black);
    background: var(--light-grey-bg);
    width: 100%;
}

@media(max-width: 768px) {
    .empty-message {
        font-size: 14px;
    }
    .table-wrap.desc {
        display: none;
    }
    .table-wrap.mob {
        display: flex;
    }
    .account-tabs-row {
        .account-title {
            font-size: 24px;
            margin:0 15px 20px 15px;
        }
        .account-tabs {
            gap: 10px;
            p {
                font-size: 18px;
                line-height: 120%;
                
            }
        }
    }
}

@media(max-width: 480px) {
    .account-tabs-row {
        .account-tabs {
            justify-content: space-between;
            gap: 0;
            p {
                padding: 0 5px 8px 5px;
                font-size: 14px;
            }
        }
    }
}