html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  color: #1F1F2D;
  line-height: 1;
  overflow-y: hidden;
}

img {
  max-width: 100%;
}

input {
  font-family: "Noto Sans SC", sans-serif;
}

input:focus {
  outline: 0 none;
}

textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: unset;
}

header .wrapper .sort {
  display: none;
}
header .wrapper .sort.active {
  display: flex;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input-wrapper.active label {
  font-size: 12px;
  line-height: 160%;
  color: #848790;
  top: 3px;
}
.input-wrapper.active input {
  border-color: #13ADAD;
}
.input-wrapper.error label {
  color: #F95557;
}
.input-wrapper.error input {
  background: #FFEBED;
  border-color: #F95557;
}
.input-wrapper.error .error-message {
  display: flex;
}
.input-wrapper label {
  transition: 0.3s;
  position: absolute;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  left: 16px;
  top: 12.5px;
}
.input-wrapper input {
  transition: 0.3s;
  font-family: "Noto Sans SC", sans-serif;
  width: 100%;
  height: 56px;
  padding: 22px 0 8px 16px;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  box-sizing: border-box;
  border-bottom: 1px solid #F1F2F4;
  border-width: 0 0 1px 0;
}
.input-wrapper .error-message {
  padding-left: 16px;
  color: #F95557;
  font-size: 12px;
  line-height: 160%;
  display: none;
}

.overlay {
  background-color: rgba(0, 23, 48, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 768px) {
  .overlay {
    max-width: 768px;
    left: calc((100% - 770px) / 2);
  }
  .overlay.scroll {
    left: calc((100% - 770px) / 2 - 8px);
  }
}
.overlay.active {
  z-index: 9999;
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    background-color: #a6a6a6;
  }

  .desktop-wrapper {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
  }
}
.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
.fixed_header.scrolled {
  box-shadow: 0 2px 8px -6px #3A3C40;
}
@media (min-width: 768px) {
  .fixed_header {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    max-width: 768px;
    transform: translateX(-1px);
  }
}

header {
  background: #fff;
  padding: 0 20px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header .wrapper a {
  margin: 20px 0;
  display: flex;
}
header .title {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #001730;
}

.subheader {
  margin-bottom: 24px;
}
.subheader h3 {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #192A3E;
}
.subheader p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}

.card.flash {
  animation: flash 0.5s;
}
.card .card-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
}
.card .card-heading.active .arrow {
  filter: unset;
  transform: rotateX(180deg);
}
.card .card-heading.active + .card-content {
  transform: scaleY(1);
  height: auto;
}
.card .card-heading .card-title {
  padding: 16px 16px 16px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.card .card-heading .card-title .category-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.card .card-heading .card-title .category-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #001730;
}
.card .card-heading .card-title .counter {
  margin-left: 8px;
  background: #F1F2F4;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #3A3C40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-heading .card-title .counter.active {
  background: #F95557;
  color: #fff;
}
.card .card-heading .card-title .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3A3C40;
  margin-bottom: 4px;
}
.card .card-heading .card-title .name {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}
.card .card-heading .add {
  padding: 16px 16px 16px 16px;
  margin-right: 14px;
  cursor: pointer;
}
.card .card-heading .arrow {
  cursor: pointer;
  margin-right: 15px;
  padding: 16px 16px 16px 16px;
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2051%) hue-rotate(190deg) brightness(80%) contrast(89%);
  transition: 0.3s;
}
.card .card-content {
  transform: scaleY(0);
  transform-origin: top;
  transition: 0s;
  height: 0;
  background: #FAFBFC;
  padding: 0 16px;
  box-sizing: border-box;
}
.card .card-content .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F2F4;
}
.card .card-content .item.flash {
  animation: flash 0.5s;
}
.card .card-content .item .name {
  padding: 12px 0 12px 8px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}
.card .card-content .item .name span {
  margin-right: 15px;
}
.card .card-content .item .add {
  padding: 12px 14px 12px 14px;
  cursor: pointer;
}

main {
  margin-top: 116px;
}
main .wrapper {
  padding: 0 16px;
}
main .wrapper.border {
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
}
main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 12px 0;
}
main .head .col-title {
  display: flex;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  text-transform: uppercase;
  color: #848790;
}
main .head .col-title p {
  margin: 0 4px;
}

.overlay.active .icons .menu-icon {
  opacity: 1;
}
.overlay .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 24px;
  bottom: 96px;
}
.overlay .icons .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
  border-radius: 16px;
  margin-top: 16px;
  opacity: 0;
}
.overlay.distribution {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay.distribution .wrapper {
  padding: 0 16px;
}
.overlay.distribution .content {
  background: #fff;
  padding: 16px 0 36px 0;
  box-shadow: 0px -8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  border-radius: 16px 16px 0px 0px;
  transition: 0.3s;
  transform: translateY(100%);
  height: 80vh;
  overflow: auto;
}
.overlay.distribution .content.active {
  transform: translateY(0);
}
.overlay.distribution .content h5 {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #001730;
  margin-bottom: 8px;
}
.overlay.distribution .content .date {
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2F95EB;
  padding-bottom: 8px;
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
}
.overlay.distribution .content .cards .wrapper.expired {
  background: rgba(249, 85, 87, 0.1);
}
.overlay.distribution .content .cards .wrapper.expired .item {
  border-color: #fff;
}
.overlay.distribution .content .cards .wrapper.okay {
  background: #EEFBFA;
}
.overlay.distribution .content .cards .wrapper.okay .item {
  border-color: #fff;
}
.overlay.distribution .content .cards .wrapper .item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #F1F2F4;
}
.overlay.distribution .content .cards p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #3A3C40;
}

.proceed {
  z-index: 9999;
  padding: 21px 18px;
  background-color: #D11241;
  box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  border-radius: 24px;
  display: flex;
  width: fit-content;
  position: fixed;
  right: 16px;
  bottom: 17px;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.proceed .close {
  display: none;
}
.proceed.active {
  opacity: 1;
  visibility: visible;
}
.proceed.opened .close {
  display: flex;
}
.proceed.opened .check {
  display: none;
}
@media (min-width: 768px) {
  .proceed {
    right: calc((100vw - 768px) / 2 + 8px);
  }
}
.proceed img {
  width: 20px;
  height: 14px;
}

.add_list {
  display: none;
  background: #FAFBFC;
}
.add_list.active {
  display: block;
}
.add_list .buttons-title {
  display: flex;
}
.add_list .buttons-title .col-title:last-child {
  margin-left: 8px;
}
.add_list .card {
  display: none;
}
.add_list .card.active {
  display: block;
}
.add_list .card .card-heading {
  cursor: initial;
  padding: 0;
}
.add_list .card .card-heading .card-title {
  padding: 16px 0 16px 16px;
}
.add_list .card .buttons {
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.add_list .card .buttons img {
  cursor: pointer;
  padding: 16px 15px 16px 16px;
}
.add_list .card .buttons .alert.active {
  filter: brightness(0) saturate(100%) invert(45%) sepia(73%) saturate(4042%) hue-rotate(330deg) brightness(101%) contrast(95%);
}
.add_list .card .buttons .rmv {
  padding: 22.5px 18.5px 22.5px 18.5px;
}

.common .card {
  min-height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F2F4;
}
.common .card.flash {
  animation: flash 0.5s;
}
.common .card .item {
  cursor: pointer;
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
}
.common .card .item img {
  margin-right: 8px;
}
.common .card .item .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3A3C40;
  margin-bottom: 4px;
}
.common .card .item .name {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}
.common .card .button {
  padding: 16px 16px 16px 16px;
  margin-right: 14px;
  cursor: pointer;
}
.common .card .counter {
  margin-left: 8px;
  background: #F1F2F4;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #3A3C40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common .card .counter.active {
  background: #F95557;
  color: #fff;
}
.common .common-cards {
  margin-top: 8px;
}

@keyframes flash {
  0% {
    background: transparent;
  }
  20% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}