/*---BASE---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  color: #1F1F2D;
  line-height: 1;
}

img {
  max-width: 100%;
}

input {
  font-family: "Noto Sans SC", sans-serif;
}

input:focus {
  outline: 0 none;
}

textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: unset;
}

header .wrapper .sort {
  display: none;
}
header .wrapper .sort.active {
  display: flex;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input-wrapper.active label {
  font-size: 12px;
  line-height: 160%;
  color: #848790;
  top: 3px;
}
.input-wrapper.active input {
  border-color: #13ADAD;
}
.input-wrapper.error label {
  color: #F95557;
}
.input-wrapper.error input {
  background: #FFEBED;
  border-color: #F95557;
}
.input-wrapper.error .error-message {
  display: flex;
}
.input-wrapper label {
  transition: 0.3s;
  position: absolute;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  left: 16px;
  top: 12.5px;
}
.input-wrapper input {
  transition: 0.3s;
  font-family: "Noto Sans SC", sans-serif;
  width: 100%;
  height: 56px;
  padding: 22px 0 8px 16px;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  box-sizing: border-box;
  border-bottom: 1px solid #F1F2F4;
  border-width: 0 0 1px 0;
}
.input-wrapper .error-message {
  padding-left: 16px;
  color: #F95557;
  font-size: 12px;
  line-height: 160%;
  display: none;
}

.overlay {
  background-color: rgba(0, 23, 48, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 768px) {
  .overlay {
    max-width: 768px;
    left: calc((100% - 770px)/2);
  }
  .overlay.scroll {
    left: calc((100% - 770px)/2 - 8px);
  }
}
.overlay.active {
  z-index: 9;
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    background-color: #a6a6a6;
  }

  .desktop-wrapper {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
  }
}
.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .fixed_header {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    max-width: 768px;
    left: calc((100% - 770px)/2 + 1px);
  }
  .fixed_header.scroll {
    left: calc((100% - 770px)/2 - 7px);
  }
}

.wrapper {
  padding: 0 16px;
}

header {
  padding: 20px 0 10.5px 4px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .wrapper .back {
  display: flex;
  margin-bottom: 24px;
}
header .wrapper .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #001730;
  margin-bottom: 10.5px;
}
header .wrapper .filter {
  font-size: 12px;
  line-height: 160%;
  color: #001730;
}
header .wrapper .filter span {
  text-decoration-line: underline;
  color: #13ADAD;
  cursor: pointer;
  font-weight: 500;
}

main {
  padding: 24px 32px;
}
main .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}
main .cards .title {
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #848790;
  margin-bottom: 4px;
}
main .cards .count {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #001730;
  margin-bottom: 4px;
}
main .cards .data {
  display: flex;
}
main .cards .data p {
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
}
main .cards .data p.green {
  color: #13ADAD;
}
main .cards .data p.red {
  color: #D11241;
}

.overlay .closeoverlay {
  background: #fff;
  padding: 29px 16px 40px 16px;
  display: flex;
  justify-content: space-between;
}
.overlay .closeoverlay button {
  padding: 10px 48px;
  border-radius: 8px;
  border: unset;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.overlay .closeoverlay button.active {
  background: #13ADAD;
  box-shadow: 2px 2px 2px rgba(14, 65, 103, 0.1);
  color: #fff;
}

#datepicker .ui-datepicker {
  width: 100%;
  padding: 0;
  border: unset;
  border-radius: 10px 10px 0 0;
}
#datepicker .ui-datepicker .ui-datepicker-header {
  border-radius: 10px 10px 0 0;
  border: unset;
  padding: 40px 25px 35px 25px;
  background: #fff;
}
#datepicker .ui-datepicker .ui-datepicker-prev {
  width: 8px;
  height: 12px;
  border: unset;
  left: 25px;
  top: calc(50% - 6px);
  cursor: pointer;
}
#datepicker .ui-datepicker .ui-datepicker-prev.ui-state-disabled {
  cursor: initial;
}
#datepicker .ui-datepicker .ui-datepicker-prev span {
  position: static;
  width: 8px;
  height: 12px;
  background: url("../img/svg/chevron_left.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: unset;
}
#datepicker .ui-datepicker .ui-datepicker-next {
  width: 8px;
  height: 12px;
  border: unset;
  right: 25px;
  top: calc(50% - 6px);
  cursor: pointer;
}
#datepicker .ui-datepicker .ui-datepicker-next span {
  position: static;
  width: 8px;
  height: 12px;
  background: url("../img/svg/chevron_right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: unset;
}
#datepicker .ui-datepicker .ui-datepicker-year {
  display: none;
}
#datepicker .ui-datepicker .ui-datepicker-month {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #001730;
}
#datepicker .ui-datepicker .ui-datepicker-calendar {
  margin: 0 32px;
  width: calc(100% - 64px);
  box-sizing: border-box;
}
#datepicker .ui-datepicker table {
  font-family: "Noto Sans SC", sans-serif;
}
#datepicker .ui-datepicker th {
  padding: 7px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #13ADAD;
}
#datepicker .ui-datepicker td {
  padding: 7px 0;
}
#datepicker .ui-datepicker td span, #datepicker .ui-datepicker td a {
  border: unset;
  padding: 0;
  background: #fff;
  color: #001730;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  border-radius: 8px;
}
#datepicker .ui-datepicker td span.ui-state-active, #datepicker .ui-datepicker td a.ui-state-active {
  background: #13ADAD;
  color: #fff;
}