html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  color: #1F1F2D;
  line-height: 1;
  overflow-y: hidden;
}

html.no-scroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
}

input {
  font-family: "Noto Sans SC", sans-serif;
}

input:focus {
  outline: 0 none;
}

textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: unset;
}

header .wrapper .sort {
  display: none;
}
header .wrapper .sort.active {
  display: flex;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input-wrapper.active label {
  font-size: 12px;
  line-height: 160%;
  color: #13ADAD;
  top: 3px;
}
.input-wrapper.active input {
  border-color: #13ADAD;
}
.input-wrapper.active .showPassword {
  filter: brightness(0) saturate(100%) invert(51%) sepia(98%) saturate(358%) hue-rotate(131deg) brightness(89%) contrast(100%);
}
.input-wrapper.error label {
  color: #F95557;
}
.input-wrapper.error input {
  background: #FFEBED;
  border-color: #F95557;
  border-radius: 8px 8px 0 0;
}
.input-wrapper.error .error-message {
  display: flex;
}
.input-wrapper label {
  transition: 0.3s;
  position: absolute;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  left: 16px;
  top: 12.5px;
}
.input-wrapper label span.required {
  color: #CD455C;
}
.input-wrapper input {
  transition: 0.3s;
  font-family: "Noto Sans SC", sans-serif;
  width: 100%;
  height: 56px;
  padding: 22px 0 8px 16px;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  box-sizing: border-box;
  border-bottom: 1px solid #F1F2F4;
  border-width: 0 0 1px 0;
  border-radius: 2px;
}
.input-wrapper input#pinyin {
  background: #F1F2F4;
}
.input-wrapper input#pinyin.filled {
  background: #DDF0EE;
}
.input-wrapper .error-message {
  padding-left: 16px;
  color: #F95557;
  font-size: 12px;
  line-height: 160%;
  display: none;
}
.input-wrapper .showPassword {
  top: 18px !important;
}

.overlay {
  background-color: rgba(0, 23, 48, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 768px) {
  .overlay {
    max-width: 768px;
    left: calc((100% - 770px) / 2);
  }
  .overlay.scroll {
    left: calc((100% - 770px) / 2 - 8px);
  }
}
.overlay.active {
  z-index: 9999;
  opacity: 1;
}

.desktop-wrapper {
  min-height: calc(100vh - 2px);
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  body {
    background-color: #a6a6a6;
  }

  .desktop-wrapper {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
  }
}
.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
.fixed_header.scrolled {
  box-shadow: 0 2px 8px -6px #3A3C40;
}
@media (min-width: 768px) {
  .fixed_header {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    max-width: 768px;
    transform: translateX(-1px);
  }
}

.dropdown .list.long_list {
  z-index: 99;
  max-height: 168px;
  overflow-y: scroll;
}

.closeoverlay button {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 152px;
  box-sizing: border-box;
  border: unset;
  transition: 0.3s;
}
.closeoverlay button:first-child {
  margin-right: 5px;
}
.closeoverlay button:last-child {
  margin-left: 5px;
}
.closeoverlay button.primary {
  color: #fff;
  background: #CD455C;
}
.closeoverlay button.primary:hover {
  background: #DE576D;
}
.closeoverlay button.secondary {
  color: #001730;
  background: #DDDFE4;
}
.closeoverlay button.secondary:hover {
  background: #F1F2F4;
}
.closeoverlay button.disabled {
  color: #C0C3CC !important;
  background: #F1F2F4 !important;
}

header {
  padding: 0 18px;
  background: #51B8B8;
}
header .wrapper {
  display: flex;
  align-items: center;
  height: 56px;
}
header .wrapper img {
  margin-right: 14px;
}
header .wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

.subheader {
  padding-top: 8px;
  background: #EBFAFA;
}
.subheader .wrapper {
  padding: 6px 16px;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.subheader .wrapper .user {
  display: flex;
  align-items: center;
}
.subheader .wrapper .user .avatar {
  height: 38px;
  width: 38px;
  border: 1px solid #DDDFE4;
  border-radius: 8px;
}
.subheader .wrapper .user .user-info {
  margin-left: 8px;
}
.subheader .wrapper .user .user-info .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
}
.subheader .wrapper .user .user-info .subname {
  font-size: 12px;
  line-height: 18px;
  color: #848790;
}
.subheader .wrapper .actions {
  display: flex;
}
.subheader .wrapper .actions .action {
  cursor: pointer;
  margin-left: 8px;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #DDDFE4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
@media (min-width: 769px) {
  .subheader .wrapper .actions .action:hover.faces {
    background: #F0F2F5;
  }
  .subheader .wrapper .actions .action:hover.faces img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(8%) saturate(347%) hue-rotate(188deg) brightness(90%) contrast(84%);
  }
  .subheader .wrapper .actions .action:hover.food {
    background: #F0F2F5;
  }
  .subheader .wrapper .actions .action:hover.food img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(8%) saturate(347%) hue-rotate(188deg) brightness(90%) contrast(84%);
  }
}
.subheader .wrapper .actions .action.active {
  background: #FFC2CB;
}
.subheader .wrapper .actions .action.active img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(25%) saturate(2273%) hue-rotate(308deg) brightness(83%) contrast(92%);
}
.subheader .wrapper .actions .action.food img {
  width: 15px;
  height: 15px;
}
.subheader .wrapper .actions .action.faces img {
  width: 20px;
  height: 18px;
}
.subheader .wrapper .actions .action img {
  transition: 0.2s;
  filter: brightness(0) saturate(100%) invert(59%) sepia(8%) saturate(347%) hue-rotate(188deg) brightness(90%) contrast(84%);
}

.card {
  margin: 0 8px 4px 8px;
  border: 1px solid #F1F2F4;
  border-radius: 8px;
}
.card.flash {
  animation: flash 0.5s;
}
.card .card-heading {
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
  background: #fff;
  transition: 0.2s;
}
@media (min-width: 769px) {
  .card .card-heading:hover {
    background: #DDF0EE;
  }
}
.card .card-heading.active {
  border-radius: 8px 8px 0 0;
}
.card .card-heading.active .arrow {
  filter: unset;
  transform: rotateX(180deg);
}
.card .card-heading.active + .card-content {
  transform: scaleY(1);
  height: auto;
}
.card .card-heading .card-title {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.card .card-heading .card-title .category-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%) invert(76%) sepia(44%) saturate(528%) hue-rotate(127deg) brightness(82%) contrast(79%);
}
.card .card-heading .card-title .category-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #001730;
}
.card .card-heading .card-title .counter {
  margin-left: 8px;
  background: #F1F2F4;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #3A3C40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-heading .card-title .counter.active {
  background: #F95557;
  color: #fff;
}
.card .card-heading .card-title .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3A3C40;
  margin-bottom: 4px;
}
.card .card-heading .card-title .name {
  font-size: 12px;
  line-height: 17px;
  color: #848790;
}
.card .card-heading .add {
  padding: 12px 14px;
  cursor: pointer;
}
.card .card-heading .arrow {
  cursor: pointer;
  margin-right: 8px;
  padding: 16px 14px 16px 14px;
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2051%) hue-rotate(190deg) brightness(80%) contrast(89%);
  transition: 0.2s;
}
.card .card-content {
  transform: scaleY(0);
  transform-origin: top;
  transition: 0s;
  height: 0;
  box-sizing: border-box;
}
.card .card-content .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  padding: 0 0 0 16px;
  position: relative;
  height: 40px;
  margin: 2px 0;
  background: #fff;
  transition: 0.2s;
}
@media (min-width: 769px) {
  .card .card-content .item:hover {
    background: #DDF0EE;
  }
}
.card .card-content .item.flash {
  animation: flash 0.5s;
}
.card .card-content .item:last-child {
  border-radius: 0 0 8px 8px;
}
.card .card-content .item .name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #53565E;
}
.card .card-content .item .name span {
  margin-right: 15px;
}
.card .card-content .item .add {
  padding: 12px 14px 12px 14px;
  cursor: pointer;
}

.desktop-wrapper {
  background: #E7FFF9;
}

main {
  margin-top: 56px;
  padding-bottom: 120px;
  background: #E7FFF9;
}
main .wrapper {
  padding: 0 16px;
}
main .wrapper.border {
  box-sizing: border-box;
}
main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
main .head .col-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  color: #001730;
}
main .head .col-title:last-child p {
  text-align: center;
  width: 40px;
}
main .head .col-title .main-title, main .head .col-title.main-title {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.15px;
  display: flex;
}
main .head .col-title .main-title .divider, main .head .col-title.main-title .divider {
  margin: 0 8px;
}
main .head .col-title .edit {
  margin-left: 14px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(70%) sepia(8%) saturate(2529%) hue-rotate(131deg) brightness(93%) contrast(82%);
}
main .head .col-title .button-wrapper {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .head .col-title .button-wrapper .checkbox {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  border: 2px solid #DADADA;
  border-radius: 2px;
  transition: 0.1s;
  cursor: pointer;
}
main .head .col-title .button-wrapper .checkbox.active {
  border: unset;
  background-image: url(../img/svg/yes.svg);
}

.overlay.active .icons .menu-icon {
  opacity: 1;
}
.overlay .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 24px;
  bottom: 96px;
}
.overlay .icons .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
  border-radius: 16px;
  margin-top: 16px;
  opacity: 0;
  transition: 0.2s;
}
.overlay .icons .menu-icon img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(10%) saturate(260%) hue-rotate(187deg) brightness(88%) contrast(87%);
}
@media (min-width: 769px) {
  .overlay .icons .menu-icon:hover {
    background: #DDF0EE;
  }
}
.overlay.distribution {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay.distribution.active {
  z-index: 99999;
}
.overlay.distribution .wrapper {
  padding: 0 16px;
}
.overlay.distribution .content {
  margin-top: 115px;
  background: #fff;
  padding: 16px 0 36px 0;
  box-shadow: 0px -8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  border-radius: 16px 16px 0px 0px;
  transition: 0.2s;
  transform: translateY(100%);
  height: auo;
  overflow: auto;
}
.overlay.distribution .content.active {
  transform: translateY(0);
}
.overlay.distribution .content h5 {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #001730;
  margin-bottom: 8px;
}
.overlay.distribution .content .date {
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2F95EB;
  padding-bottom: 8px;
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
}
.overlay.distribution .content .cards .wrapper.expired {
  background: rgba(249, 85, 87, 0.1);
}
.overlay.distribution .content .cards .wrapper.expired .item {
  border-color: #fff;
}
.overlay.distribution .content .cards .wrapper.okay {
  background: #EEFBFA;
}
.overlay.distribution .content .cards .wrapper.okay .item {
  border-color: #fff;
}
.overlay.distribution .content .cards .wrapper .item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #F1F2F4;
}
.overlay.distribution .content .cards p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #3A3C40;
}

.proceed {
  z-index: 9999;
  background: #001730;
  box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  transition: 0.2s;
  border-radius: 24px;
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
@media (min-width: 769px) {
  .proceed:hover {
    background: #123257;
  }
}
.proceed .close {
  display: none;
}
.proceed.active {
  opacity: 1;
  visibility: visible;
}
.proceed.opened .close {
  display: flex;
}
.proceed.opened .check {
  display: none;
}
@media (min-width: 768px) {
  .proceed {
    right: calc((100vw - 766px) / 2 + 16px);
  }
}
.proceed img {
  width: 20px;
  height: 14px;
}

@media (min-width: 768px) {
  .scroll .proceed {
    right: calc((100vw - 766px) / 2 + 16px - var(--scroll-width) / 2);
  }
}
.add_list {
  display: none;
  background: #E7FFF9;
}
.add_list.active {
  display: block;
}
.add_list .cards {
  padding-bottom: 16px;
  border-bottom: 1px solid #DDDFE4;
}
.add_list .card {
  display: none;
  border: unset;
  margin: unset;
  padding: 0 16px;
}
.add_list .card.blank {
  display: flex;
  align-items: center;
  margin: 0 !important;
}
.add_list .card.blank .category-icon {
  margin-right: 11.5px;
  margin-left: 3.5px;
  filter: unset;
  width: 21px;
  height: 21px;
}
.add_list .card.blank .buttons {
  padding-right: 49.5px;
}
.add_list .card.active {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 0px;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.2s;
}
.add_list .card.active.animation {
  height: 44px;
  margin: 2px 0;
  transform: scaleY(1);
}
.add_list .card .card-heading {
  cursor: initial;
  padding: 0;
  border: unset;
  background: unset !important;
}
.add_list .card .card-heading .card-title {
  padding: 0;
}
.add_list .card .buttons {
  display: flex;
  align-items: center;
}
.add_list .card .buttons .button-wrapper {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_list .card .buttons .button-wrapper .trash.active {
  filter: brightness(0) saturate(100%) invert(45%) sepia(73%) saturate(4042%) hue-rotate(330deg) brightness(101%) contrast(95%);
}
.add_list .card .buttons .button-wrapper .lost.active {
  filter: brightness(0) saturate(100%) invert(77%) sepia(23%) saturate(1152%) hue-rotate(353deg) brightness(95%) contrast(93%);
}
.add_list .card .buttons .button-wrapper .checkbox {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  border: 2px solid #DADADA;
  border-radius: 2px;
  transition: 0.1s;
  cursor: pointer;
}
.add_list .card .buttons .button-wrapper .checkbox.active {
  border: unset;
  background-image: url(../img/svg/yes.svg);
}