html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Noto Sans SC', sans-serif;
  color: #1F1F2D;
  line-height: 1; }

img {
  max-width: 100%; }

input:focus {
  outline: 0 none; }

textarea:focus {
  outline: 0 none; }

a {
  text-decoration: unset; }

@media (min-width: 768px) {
  body {
    background-color: #a6a6a6; }
  .desktop-wrapper {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box; } }

.wrapper {
  padding: 0 16px; }
  .wrapper.border {
    border-bottom: 1px solid #F1F2F4;
    box-sizing: border-box; }

header {
  padding: 20px 4px; }
  header .wrapper {
    display: flex;
    justify-content: space-between; }
    header .wrapper a {
      display: flex; }

main #tag {
  position: relative;
  padding: 8px 16px 16px 16px; }
  main #tag:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    right: 27px;
    bottom: 29px;
    background: url("../img/svg/edit.svg"); }
  main #tag.submit:after {
    background: url("../img/svg/submit.svg");
    right: 27px;
    bottom: 41px;
    width: 18px; }

main .tag {
  background: #001730;
  border-radius: 16px;
  margin-bottom: 16px; }
  main .tag label {
    margin: 0 8px 8px 8px;
    font-size: 12px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF; }
  main .tag input {
    margin-top: 8px;
    padding: 8px;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    height: 48px;
    color: #FFFFFF;
    width: -webkit-fill-available;
    background: transparent;
    border: unset;
    border-radius: 8px;
    transition: .3s; }
    main .tag input:focus {
      background-color: rgba(255, 255, 255, 0.1); }
    main .tag input::placeholder {
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;
      color: #FFFFFF; }

main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 12px 0; }
  main .head .col-title {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    text-transform: uppercase;
    color: #848790; }

main .common .card {
  padding: 5px 16px;
  min-height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F2F4; }
  main .common .card .item {
    display: flex;
    align-items: center; }
    main .common .card .item img {
      margin-right: 8px; }
    main .common .card .item .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: #001730;
      margin-bottom: 4px; }
    main .common .card .item .name {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #848790; }
  main .common .card .button {
    margin-right: 14px;
    cursor: pointer; }

main .common .common-cards {
  margin-top: 8px; }

main .search {
  padding: 8px 0;
  position: relative; }
  main .search:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../img/svg/search.svg");
    left: 15px;
    top: calc(50% - 9px); }
  main .search form {
    display: flex; }
  main .search input {
    width: 100%;
    padding: 12px 44px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #848790;
    background: #FAFBFC;
    border: 1px solid #F1F2F4;
    box-sizing: border-box;
    border-radius: 8px; }
    main .search input::placeholder {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #848790; }

main .full-cards .card {
  margin: 4px 0; }
  main .full-cards .card .card-heading {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 4px 31px 4px 16px;
    border-bottom: 1px solid #F1F2F4; }
    main .full-cards .card .card-heading.active .arrow {
      filter: unset;
      transform: rotateX(180deg); }
    main .full-cards .card .card-heading.active + .card-content {
      transform: scaleY(1);
      height: auto; }
    main .full-cards .card .card-heading .card-title {
      display: flex;
      align-items: center; }
      main .full-cards .card .card-heading .card-title .category-icon {
        width: 32px;
        height: 32px;
        margin-right: 8px; }
      main .full-cards .card .card-heading .card-title .category-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #001730; }
      main .full-cards .card .card-heading .card-title .counter {
        margin-left: 8px;
        background: #F1F2F4;
        border-radius: 4px;
        height: 20px;
        width: 20px;
        font-weight: bold;
        font-size: 12px;
        color: #3A3C40;
        display: flex;
        justify-content: center;
        align-items: center; }
    main .full-cards .card .card-heading .arrow {
      filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2051%) hue-rotate(190deg) brightness(80%) contrast(89%);
      transition: .3s; }
  main .full-cards .card .card-content {
    transform: scaleY(0);
    transform-origin: top;
    transition: 0s;
    height: 0;
    padding: 0 16px;
    background: #FAFBFC; }
    main .full-cards .card .card-content .item {
      display: flex;
      justify-content: space-between;
      padding: 12px 14px 12px 8px;
      border-bottom: 1px solid #F1F2F4; }
      main .full-cards .card .card-content .item .name {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #001730; }
        main .full-cards .card .card-content .item .name span {
          margin-right: 15px; }
      main .full-cards .card .card-content .item .date {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #848790; }

main .laundry div.col-title {
  display: flex; }
  main .laundry div.col-title p {
    margin: 0 8px; }

main .laundry .laundry-cards .card {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  main .laundry .laundry-cards .card > div {
    display: flex;
    align-items: center; }
  main .laundry .laundry-cards .card .category-icon {
    margin-right: 8px; }
  main .laundry .laundry-cards .card .category-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3A3C40;
    margin-right: 8px; }
  main .laundry .laundry-cards .card .counter {
    margin-left: 8px;
    background: #F1F2F4;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #3A3C40;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .laundry .laundry-cards .card .rmv {
    margin-right: 15px;
    margin-left: 30px; }

.overlay {
  background: rgba(0, 23, 48, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: .2s; }
  @media (min-width: 768px) {
    .overlay {
      max-width: 768px;
      left: calc((100% - 770px)/2 - 8px); } }
  .overlay.active {
    opacity: 1;
    visibility: visible; }
  .overlay .icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 24px;
    bottom: 96px; }
    .overlay .icons .menu-icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0px 2px 8px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
      border-radius: 16px;
      margin-top: 16px;
      opacity: 0;
      transition-duration: .2s; }
      .overlay .icons .menu-icon.active {
        opacity: 1; }
      .overlay .icons .menu-icon:nth-child(6) {
        transition-delay: .1s; }
      .overlay .icons .menu-icon:nth-child(5) {
        transition-delay: .2s; }
      .overlay .icons .menu-icon:nth-child(4) {
        transition-delay: .3s; }
      .overlay .icons .menu-icon:nth-child(3) {
        transition-delay: .4s; }
      .overlay .icons .menu-icon:nth-child(2) {
        transition-delay: .5s; }
      .overlay .icons .menu-icon:nth-child(1) {
        transition-delay: .6s; }

.message {
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .1s;
  left: 8px;
  width: calc(100% - 16px);
  bottom: 81px;
  display: flex;
  position: fixed;
  padding: 14px 8px 15px 16px;
  background: #3A3C40;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .message {
      max-width: 768px;
      left: calc((100% - 770px)/2 - 8px); } }
  .message p {
    font-size: 12px;
    line-height: 160%;
    color: #fff; }

.proceed {
  z-index: 99;
  padding: 21px 18px;
  background-color: #D11241;
  box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  border-radius: 24px;
  display: flex;
  width: fit-content;
  position: fixed;
  right: 16px;
  bottom: 17px;
  opacity: 0;
  visibility: hidden;
  transition: .1s; }
  .proceed .close {
    display: none; }
  .proceed.active {
    opacity: 1;
    visibility: visible; }
  .proceed.opened .close {
    display: flex; }
  .proceed.opened .check {
    display: none; }
  @media (min-width: 768px) {
    .proceed {
      right: calc(((100vw - 770px)/2) + 24px); } }
  .proceed img {
    width: 20px;
    height: 14px; }
