html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  color: #1F1F2D;
  line-height: 1;
  overflow-y: hidden;
}

img {
  max-width: 100%;
}

input {
  font-family: "Noto Sans SC", sans-serif;
}

input:focus {
  outline: 0 none;
}

textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: unset;
}

header .wrapper .sort {
  display: none;
}
header .wrapper .sort.active {
  display: flex;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input-wrapper.active label {
  font-size: 12px;
  line-height: 160%;
  color: #848790;
  top: 3px;
}
.input-wrapper.active input {
  border-color: #13ADAD;
}
.input-wrapper.error label {
  color: #F95557;
}
.input-wrapper.error input {
  background: #FFEBED;
  border-color: #F95557;
}
.input-wrapper.error .error-message {
  display: flex;
}
.input-wrapper label {
  transition: 0.3s;
  position: absolute;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  left: 16px;
  top: 12.5px;
}
.input-wrapper input {
  transition: 0.3s;
  font-family: "Noto Sans SC", sans-serif;
  width: 100%;
  height: 56px;
  padding: 22px 0 8px 16px;
  font-size: 16px;
  line-height: 160%;
  color: #001730;
  box-sizing: border-box;
  border-bottom: 1px solid #F1F2F4;
  border-width: 0 0 1px 0;
}
.input-wrapper .error-message {
  padding-left: 16px;
  color: #F95557;
  font-size: 12px;
  line-height: 160%;
  display: none;
}

.overlay {
  background-color: rgba(0, 23, 48, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
@media (min-width: 768px) {
  .overlay {
    max-width: 768px;
    left: calc((100% - 770px)/2);
  }
  .overlay.scroll {
    left: calc((100% - 770px)/2 - 8px);
  }
}
.overlay.active {
  z-index: 9999;
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    background-color: #a6a6a6;
  }

  .desktop-wrapper {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
  }
}
.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
.fixed_header.scrolled {
  box-shadow: 0 2px 8px -6px #3A3C40;
}
@media (min-width: 768px) {
  .fixed_header {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    max-width: 768px;
    transform: translateX(-1px);
  }
}

header {
  padding: 0 20px;
  background: #fff;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header .wrapper a {
  margin: 20px 0;
  display: flex;
}
header .title {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #001730;
}

main {
  margin-top: 116px;
}
main .wrapper {
  padding: 0 16px;
}
main .wrapper.border {
  border-bottom: 1px solid #F1F2F4;
  box-sizing: border-box;
}
main #tag_form {
  position: relative;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
}
main #tag_form img {
  display: none;
  cursor: pointer;
}
main #tag_form img.active {
  display: block;
}
main #tag_form .edit {
  position: absolute;
  right: 27px;
  bottom: 21px;
  z-index: 99;
}
main #tag_form .check {
  position: absolute;
  right: 27px;
  bottom: 23px;
}
main #tag_form .dies {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  bottom: 14px;
  left: 24px;
}
main .tag {
  background: #001730;
  border-radius: 16px;
  margin-bottom: 16px;
}
main .tag label {
  margin: 0 8px 8px 8px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
}
main .tag input {
  width: auto;
  padding: 6px 8px 6px 26px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  height: 32px;
  color: #FFFFFF;
  background: transparent;
  border: unset;
  border-radius: 8px;
  transition: 0.3s;
  pointer-events: none;
}
main .tag input.active {
  pointer-events: all;
}
main .tag input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
main .tag input::placeholder {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
}
main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 12px 0;
}
main .head .col-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  text-transform: uppercase;
  color: #848790;
}
main .common .card {
  padding: 15px 16px 16px 16px;
  min-height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F2F4;
}
main .common .card .item {
  display: flex;
  align-items: center;
}
main .common .card .item img {
  margin-right: 8px;
}
main .common .card .item .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3A3C40;
  margin-bottom: 4px;
}
main .common .card .item .name {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}
main .common .card .button {
  margin-right: 14px;
  cursor: pointer;
}
main .common .common-cards {
  margin-top: 8px;
}
main .add_list {
  display: none;
}
main .add_list.active {
  display: block;
}
main .add_list div.col-title {
  display: flex;
}
main .add_list div.col-title p {
  margin: 0 8px;
}
main .add_list .cards .card {
  display: none;
}
main .add_list .cards .card.active {
  display: block;
}
main .add_list .cards .card .card-heading {
  cursor: initial;
  padding: 0;
}
main .add_list .cards .card .card-heading .card-title {
  padding: 16px 0 16px 16px;
}
main .add_list .cards .card .buttons {
  padding-right: 16px;
  display: flex;
  align-items: center;
}
main .add_list .cards .card .buttons img {
  cursor: pointer;
  padding: 16px 15px 16px 16px;
}
main .add_list .cards .card .buttons .trash.active {
  filter: brightness(0) saturate(100%) invert(59%) sepia(83%) saturate(4769%) hue-rotate(329deg) brightness(103%) contrast(100%);
}

.overlay .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 24px;
  bottom: 96px;
}
.overlay .icons .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
  border-radius: 16px;
  margin-top: 16px;
}

.message {
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
  left: 8px;
  width: calc(100% - 16px);
  bottom: 81px;
  display: flex;
  position: fixed;
  padding: 14px 8px 15px 16px;
  background: #3A3C40;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .message {
    max-width: 768px;
    left: calc((100% - 770px)/2 - 8px);
  }
}
.message p {
  font-size: 12px;
  line-height: 160%;
  color: #fff;
}

.proceed {
  z-index: 9999;
  padding: 21px 18px;
  background-color: #D11241;
  box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
  border-radius: 24px;
  display: flex;
  width: fit-content;
  position: fixed;
  right: 16px;
  bottom: 17px;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.proceed .close {
  display: none;
}
.proceed.active {
  opacity: 1;
  visibility: visible;
}
.proceed.opened .close {
  display: flex;
}
.proceed.opened .check {
  display: none;
}
@media (min-width: 768px) {
  .proceed {
    right: calc(((100vw - 768px)/2) + 8px);
  }
}
.proceed img {
  width: 20px;
  height: 14px;
}

.card .card-heading {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px 31px 16px 16px;
  border-bottom: 1px solid #F1F2F4;
}
.card .card-heading.active .arrow {
  filter: unset;
  transform: rotateX(180deg);
}
.card .card-heading.active + .card-content {
  transform: scaleY(1);
  height: auto;
}
.card .card-heading .card-title {
  display: flex;
  align-items: center;
}
.card .card-heading .card-title .category-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.card .card-heading .card-title .category-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3A3C40;
}
.card .card-heading .card-title .counter {
  margin-left: 8px;
  background: #F1F2F4;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #3A3C40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-heading .arrow {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2051%) hue-rotate(190deg) brightness(80%) contrast(89%);
  transition: 0.3s;
}
.card .card-content {
  transform: scaleY(0);
  transform-origin: top;
  transition: 0s;
  height: 0;
  background: #FAFBFC;
  padding: 0 16px;
  box-sizing: border-box;
}
.card .card-content .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F2F4;
  cursor: pointer;
}
.card .card-content .item .name {
  padding: 12px 0 12px 8px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #848790;
}
.card .card-content .item .name span {
  margin-right: 15px;
}
.card .card-content .item .add {
  padding: 12px 14px 12px 14px;
}