header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999999;
}

header .wrapper {
    padding: 20px 25px;
    max-width: 1196px; 
    margin: 0 auto;
    border-bottom: 2px solid var(--main-red)
}

main {
    padding-top: 112px;
    @media(max-width: 769px) {
        padding-top: 92px;
    }
}


header .menu-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-menu .logo {
    width: 95px;
    height: 70px;
    margin-right: 16px;
}

header .header-menu nav {
    display: flex;
    gap: 48px;
    align-items: center;
}

header .logo {
    margin-right: 16px;
}

header .header-menu nav a, header .sub-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-red);
}

header .sub-menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

header .menu-mob {
    display: none;
    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 82px;
            height: 60px;
        }
        .menu-button {
            display: flex;
            align-items: center;
            &>a {
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                text-transform: capitalize;
                color: var(--main-red);
                margin-right: 15px;
            }
        }
        .menu-toggle {
            width: 40px;
            height: 40px;
            background: url('../img/svg/menu.svg');
            cursor: pointer;
            border-radius: 5px;
            &.active {
                background-image: url('../img/svg/menu-close.svg');
                &+.nav {
                    left: 0;
                }
            }
        }
        .nav {
            position: absolute;
            z-index: 99999;
            background: #fff;
            width: 100%;
            height: calc(100vh - 92px);
            left: -100%;
            top: 100%;
            margin-top: 2px;
            transition: .3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            nav {
                display: flex;
                flex-direction: column;
                padding-top: 50px;
                align-items: center;
                gap: 30px;
                a {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: capitalize;
                    color: var(--main-red);
                }
                .button {
                    width: fit-content;
                }
            }
            .log-info {
                padding: 35px 15px;
                border-top: 2px solid var(--light-grey-bg);
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;
                visibility: hidden;
                &.active {
                    visibility: visible;
                }
                .account {
                    color: var(--black);
                    font-family: 'Roboto Slab';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                }
                .logout {
                    color: var(--main-red);
                    font-family: 'Roboto Slab';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%; 
                    text-transform: capitalize;
                }
            }
        }
        
    }
}

@media(max-width: 768px) {
    header .wrapper .menu-desc {
        display: none;
    }
    header {
        padding: 0
    }
    header .wrapper {
        padding: 15px;
    }
    header .menu-mob {
        display: flex;
    }
}