body.noScroll {
    overflow-y: hidden;
}

body {
    --main-red: #CE0538;
    --light-grey: #D9D9D9;
    --dark-grey: #8C8C8C;
    --black: #1F1F1F;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 15px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--main-red);
    margin-bottom: 25px;
}

.button {
    padding: 15.5px 40px 15.5px 40px;
    border-radius: 5px;
    background: var(--main-red);
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        width: 7.35px;
        height: 13px;
        margin-left: 10px;
        background: url('../img/svg/button-arrow.svg');
    }
    &.small {
        font-size: 16px;
        line-height: 120%;
        padding: 10px 20px 11px 20px;
        text-transform: capitalize;
        ::after {
            display: none;
        }
    }
}

.wrapper {
    padding: 0 25px;
    max-width: 1146px;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
    &>* {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .col-50 {
        width: 50%;
    }
    .col-full {
        width: 100%;
    }
}

.input-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: var(--black);
        border: 1px solid var(--light-grey);
        outline: unset;
        border-radius: 5px;
    }
    label {
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: var(--dark-grey);
        left: 30px;
        cursor: text;
    }
    .error {
        display: none;
    }
}