body.noScroll {
    overflow-y: hidden;
}

body {
    --main-red: #CE0538;
    --light-grey: #D9D9D9;
    --light-grey-bg: #F2F2F2;
    --dark-grey: #8C8C8C;
    --black: #1F1F1F;
    --success: #219653;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-red);
}

.title.border {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    border: 2px solid var(--main-red);
    border-radius: 5px;
}

h1, p.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 15px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 35px;
    width: fit-content;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--main-red);
    transition: 0.2s;
}

.link:hover::after {
    width: 0%;
}

.button {
    padding: 13.5px 38px 13.5px 38px;
    border-radius: 5px;
    border: 2px solid var(--main-red) !important;
    background: var(--main-red);
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: .3s;
    // &::after {
    //     content: '';
    //     display: block;
    //     width: 7.35px;
    //     height: 13px;
    //     margin-left: 10px;
    //     background: url('../img/svg/button-arrow.svg');
    //     transition: .3s;
    // }
    &:hover {
        color: var(--main-red) !important;
        background: transparent;
        &:after {
            filter: brightness(0) saturate(100%) invert(16%) sepia(76%) saturate(4371%) hue-rotate(334deg) brightness(82%) contrast(109%);
        }
    }
    &.small {
        font-size: 16px;
        line-height: 120%;
        padding: 10px 20px 10px 20px;
        text-transform: capitalize;
        @media(max-width: 768px) {
            font-size: 20px;
        }
    }
    &.secondary {
        color: var(--main-red) !important;
        border: 2px solid var(--main-red);
        background: transparent;
        &:hover {
            color: #fff !important;
            background: var(--main-red);
        }
    }
    &.inactive {
        background: var(--light-grey);
        border-color: var(--light-grey) !important;
        color: #fff !important;
        cursor: default;
        &.secondary {
            background: transparent;
            color: var(--light-grey) !important;
        }
    }
    &.no-arrow::after {
        display: none;
    }
}

.wrapper {
    padding: 0 25px;
    max-width: 1196px;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0 0 0;
    &:last-child {
        padding: 50px 0;
    }
    &>* {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .col-50 {
        width: 50%;
    }
    .col-full {
        width: 100%;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
    @media(max-width: 768px) {
        row-gap: 15px;
    }
}

.input-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    &.error {
        input {
            border-color: var(--main-red);  
        }
        .error-message {
            display: block;
        }
    }
    &.success {
        input {
            border-color: var(--success);  
        }
        .success-message {
            display: block;
        }
    }
    &.half {
        width: calc(50% - 10px);
        @media(max-width: 768px) {
            width: 100%;
        }
    }
    input, textarea, select {
        resize: none;
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: var(--black);
        border: 1px solid var(--light-grey);
        outline: unset;
        border-radius: 5px;
        transition: .3s;
        overflow: hidden;
        background: #fff;
        @media(max-width: 768px) {
            padding: 10px 20px;
        }
        &.filled {
            height: 158px;
            @media(max-width: 768px) {
                height: 164px;
            }
        }
        &+label {
            position: absolute;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: var(--dark-grey);
            left: 20px;
            top: 15px;
            cursor: text;
            background: #fff;
            padding: 0 10px;
            transition: .2s;
            @media(max-width: 768px) {
                font-size: 14px;
            }
        }
        &.active+label {
            font-size: 14px;
            top: -10px;
            left: 20px;
        }
    }
    textarea {
        padding-top: 6px;
    }
    select {
        color: var(--black);
        font-weight: 700;
        -moz-appearance:none; 
        -webkit-appearance:none; 
        appearance:none;
        background: url('../../img/svg/select-arrow.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: calc(100% - 30px);
        &+label {
            font-size: 14px;
            top: -10px;
            left: 30px;
        }
    }
    .input-message {
        display: none;
        margin-top: 8px;
        padding-left: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        position: relative;
        &.error-message {
            color: var(--main-red);
            &:after {
                background: url('../img/svg/error.svg');
            }
        }
        &.success-message {
            color: var(--success);
            &:after {
                background: url('../img/svg/success.svg');
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: calc(50% - 8px);
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media(max-width: 768px) {
            margin-top: 5px;
            font-size: 14px;
            padding-left: 20px;
            &::after {
                width: 14px;
                height: 14px;
            }
        }
    }
}

.dropdown {
    width: 100%;
    p {
        font-weight: 600;
        position: relative;
        width: fit-content;
        line-height: 120%;
        cursor: pointer;
        padding-right: 22px;
        &::after {
            content: '';
            width: 14px;
            height: 9px;
            position: absolute;
            top: calc(50% - 4.5px);
            right: 0;
            background: url('../img/svg/dropdown-arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            transition: .3s;
        }
    }
    &.active {
        p::after {
            transform: rotateX(180deg);
            transform-origin: center;
        }
        .input-wrap {
            height: 50px;
        }
    }
    .input-wrap {
        height: 0;
        overflow: hidden;
        transition: .3s;
    }
}

.checkbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding-left: 34px;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    &.checkbox-phone {
        display: block;
    }
    @media(max-width: 769px) {
        line-height: 120%;
        font-size: 14px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 12px);
        width: 12px;
        height: 12px;
        border: 5px solid #fff;
        outline: 1px solid #DEDEDE;
        background: #DEDEDE;
        border-radius: 50%;
        transition: .2s;
        cursor: pointer;
    }
    &.active::after {
        width: 12px;
        height: 12px;
        background: var(--main-red);
        border: 5px solid #fff;
        outline: 1px solid var(--main-red);
    }
    &.with-options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &::after {
            top: 2px;
        }
        &.active {
            margin-bottom: 0;
            .options {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .options {
            display: none;
            padding: 10px 0 5px;
            width: 100%;
        }
    }
    span {
        font-weight: 700;
        margin-right: 5px;
    }

    &>.input-wrap .input {
        height: 36px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.input-checkbox {
    position: relative;
    margin-bottom: 20px;
    padding-left: 34px;
    display: flex;
    @media(max-width: 769px) {
        margin-bottom: 10px;
    }
    input {
        display: none;
        &:checked+p::after {
            width: 12px;
            height: 12px;
            background: var(--main-red);
            border: 5px solid #fff;
            outline: 1px solid var(--main-red);
        }
    }
    &.square p:after {
        border-radius: 4px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: var(--black);
        margin: 0;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 12px;
            height: 12px;
            border: 5px solid #fff;
            outline: 1px solid #DEDEDE;
            background: #DEDEDE;
            border-radius: 50%;
            transition: .2s;
            cursor: pointer;
        }
    }
}

.input-card {
    display: flex;
    gap: 8px;
    @media(max-width: 768px) {
        flex-wrap: wrap;
    }
    .input-wrap {
        width: auto;
        margin-bottom: 0;
        @media(max-width: 768px) {
            width: calc(50% - 4px);
        }
        &:first-child {
            width: 100%;
            position: relative;
            &::after {
                content: '';
                width: 44px;
                height: 30px;
                position: absolute;
                right: 10px;
                top: calc(50% - 15px);
                background: url('../img/svg/card.svg');
            }
        }
    }
}

.subscription {
    padding: 50px 0;
    margin-top: 70px;
    border-top: 2px solid var(--main-red);
}

.subscription h2 {
    margin-bottom: 30px;
    text-align: center;
}

.subscription-form {
    width: 100%;
}

.subscription-form.disabled, .contact-col.disabled {
    display: none;
}

.subscription-form.disabled+.thank-message, .contact-col.disabled+.thank-message {
    display: flex;
}

#subscription_form button {
    margin: 0 auto;
}

.thank-message {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
    .title {
        margin-bottom: 15px;
    }
    .subtitle {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 120%;
        color: var(--dark-grey);
    }
    a {
        margin-top: 25px;
        @media(max-width:768px) {
            margin-top: 30px;
        }
    }
}

.banner {
    width: 100%;
    background: var(--light-grey-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 15px;
    .banner-title {
        max-width: 754px;
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--black);
        margin-bottom: 25px;
    }
}

main .caption {
    color: var(--dark-grey);
    text-align: center;
    margin: 15px 10px 0 10px;
    width: 100%;
}

@media(max-width: 768px) {
    .mob-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrapper {
        padding: 0;
    }
    .row {
        flex-direction: column;
        padding: 30px 0 0 0;
        &:last-child {
            padding: 30px 0;
        }
        .col-50 {
            width: 100%;
        }
    }
    h1, p.title {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .link {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .input-wrap { 
        margin-bottom: 15px;
    }
    .subscription {
        margin-top: 50px;
    }
    .subscription h2 {
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    .banner {
        padding: 30px 15px;
        .banner-title {
            font-size: 24px;
            line-height: 120%;
        }
        .button {
            width: fit-content;
        }
    }
}

@media(max-width: 480px) {
    .button {
        width: 100%;
        justify-content: center;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 50px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    z-index: 999999;
    @media(max-width: 769px) {
        top: 92px;
        min-width: 85%;
    }
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.success {
        border-color: #04B116;
        background: #EFF7F0;
    }
    &.error {
        border-color: #CE0538;
        background: #FFEBF0;
    }
}

.modal p {
    margin: 0;
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
}
