body.noScroll {
    overflow-y: hidden;
}

body {
    --main-red: #CE0538;
    --light-grey: #D9D9D9;
    --light-grey-bg: #F2F2F2;
    --dark-grey: #8C8C8C;
    --black: #1F1F1F;
}

h1, p.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 15px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--main-red);
    margin-bottom: 25px;
}

.button {
    padding: 15.5px 40px 15.5px 40px;
    border-radius: 5px;
    background: var(--main-red);
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        width: 7.35px;
        height: 13px;
        margin-left: 10px;
        background: url('../img/svg/button-arrow.svg');
    }
    &.small {
        font-size: 16px;
        line-height: 120%;
        padding: 10px 20px 10px 20px;
        text-transform: capitalize;
        &::after {
            display: none;
        }
        @media(max-width: 768px) {
            font-size: 20px;
        }
    }
}

.wrapper {
    padding: 0 25px;
    max-width: 1146px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0 0 0;
    &:last-child {
        padding: 50px 0;
    }
    &>* {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .col-50 {
        width: 50%;
    }
    .col-full {
        width: 100%;
    }
}

.input-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    input {
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: var(--black);
        border: 1px solid var(--light-grey);
        outline: unset;
        border-radius: 5px;
        &.error {
            border-color: var(--main-red);
            &+label+.error-message {
                display: block;
            }
        }
        &.active+label {
            font-size: 14px;
            top: -10px;
            left: 30px;
        }
    }
    label {
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: var(--dark-grey);
        left: 20px;
        top: 15px;
        cursor: text;
        background: #fff;
        padding: 0 10px;
        transition: .2s;
    }
    .error-message {
        display: none;
        margin-top: 8px;
        padding-left: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: var(--main-red);
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            background: url('../img/svg/error.svg');
        }
    }
}

.subscription {
    padding: 50px 0;
    margin-top: 70px;
    border-top: 2px solid var(--main-red);
}

.subscription h2 {
    margin-bottom: 30px;
    text-align: center;
}

.subscription-form, #subscription_form {
    width: 100%;
}

#subscription_form button {
    margin: 0 auto;
}

.subscription-message {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
    .title {
        margin-bottom: 15px;
    }
    .subtitle {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 120%;
        color: var(--dark-grey);
    }
}

.banner {
    width: 100%;
    background: var(--light-grey-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 15px;
    .banner-title {
        max-width: 754px;
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--black);
        margin-bottom: 25px;
    }
}

main .caption {
    color: var(--dark-grey);
    text-align: center;
    margin: 15px 10px 0 10px;
    width: 100%;
}

@media(max-width: 768px) {
    .mob-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrapper {
        padding: 0;
    }
    .row {
        flex-direction: column;
        padding: 30px 0 0 0;
        &:last-child {
            padding: 30px 0;
        }
        .col-50 {
            width: 100%;
        }
    }
    h1, p.title {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .link {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .input-wrap { 
        margin-bottom: 15px;
    }
    .subscription {
        margin-top: 50px;
    }
    .subscription h2 {
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }
    .banner {
        padding: 30px 15px;
        .banner-title {
            font-size: 24px;
            line-height: 120%;
        }
        .button {
            width: fit-content;
        }
    }
}

@media(max-width: 480px) {
    .button {
        width: 100%;
        justify-content: center;
    }
}