body.noScroll {
    overflow-y: hidden;
}

.wrapper {
    padding: 0 25px;
    max-width: 1465px;
    margin: 0 auto;
}

.app {
    position: relative;
}

main {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}   

main .side {
    width: 945px;
    background: rgba(27, 31, 32, 0.5);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    padding: 164px 0 100px 64px;
}

main .side .content {
    width: 551px;
    display: flex;
    flex-direction: column;
}

main .side .content .main-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    color: #fff;
}

main .side .content .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

main .side .content .main-title span,
main .side .content .title span {
    color: #82DBE8;
}

main .side .content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: #CFD7DA;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

form button {
    padding: 18.5px 58px;
    border: 2px solid #82DBE8;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: .3s;
}

form .step {
    width: 100%;
}

form .step:not(.active) {
    display: none;
}

form .form-row input[type='checkbox'] {
    display: none;
}

form .step .form-row.radio-container {
    margin-top: 24px;
}

form .step .form-row .radio-label {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
}

form .step .form-row .radio-wrap {
    display: flex;
    flex-direction: column;
}

form .step .form-row .radio-wrap input {
    display: none;
}

form .step .form-row .radio-wrap label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #CFD7DA;
    display: flex;
    width: fit-content;
}

form .step .form-row .radio-wrap label::before {
    content: '';
    min-width: 22px;
    width: 22px;
    height: 22px;
    outline: 1px solid #5D696D;
    border: 5px solid transparent;
    background: transparent;
    border-radius: 100%;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
}

form .step .form-row .radio-wrap input:checked+label::before {
    outline: 1px solid #82DBE8;
    background: #82DBE8;
    border: 5px solid #131719;
}

form .form-row .checkbox-wrap label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #CFD7DA;
    display: flex;
    align-items: center;
    width: fit-content;
}

form .form-row .checkbox-wrap label::before {
    content: '';
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-color: #82DBE8;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

form .form-row .checkbox-wrap input:checked+label::before {
    background-image: url('../img/svg/check.svg');
    background-repeat: no-repeat;
}

form .form-row .error {
    margin: -4px 0;
    align-items: center;
    display: none;
}

form .form-row.error .error {
    display: flex;
}

form .form-row .error p {
    margin-left: 4px;
    color: #EB5757;
    line-height: 120%;
}

form button.primary,
form button.secondary:hover {
    background: #82DBE8;
    color: #0F1517;
}

form button[disabled] {
    color: #5D696D !important;
    border-color: #5D696D !important;
    background: transparent !important;
    cursor: default !important;
}

form button.secondary,
form button.primary:hover {
    background: transparent;
    color: #82DBE8;
}

form button.disabled,
form button.disabled:hover {
    background: transparent;
    color: #5D696D;
    border-color: #5D696D;
    cursor: not-allowed;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.form-row label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #CFD7DA;
}

.form-row input,
.form-row textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #a5a5a5;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 18.5px 28px;
    width: 100%;
    background: transparent;
    outline: unset;
}

.form-row input::placeholder,
.form-row textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #a5a5a5;
}

@media(max-width: 1280px) {
    main .side {
        width: 700px;
    }
}

@media(max-width: 769px) {
    main .side {
        width: 100%;
        padding: 16px;
        backdrop-filter: blur(3.5px);
    }
    main {
        padding: 148px 15px 190px 15px;
    }

    main .side .content .main-title,
    main .side .content .title {
        font-size: 24px;
    }
    main .side .content p {
        font-size: 14px;
    }
    form {
        gap: 16px;
    }
    form button {
        padding: 13.5px 58px;
        width: 100%;
    }
    .form-row {
        gap: 8px;
    }
    .form-row label {
        font-size: 14px;
    }
    
    .form-row input,
    .form-row textarea {
        font-size: 14px;
        padding: 14.5px 28px;
    }
    form .step .form-row.radio-container {
        margin-top: 20px;
    }
    form .step .form-row .radio-label {
        margin-bottom: 12px;
    }
    form .form-row .error {
        align-items: flex-start;
    }
}

@media(max-width: 480px) {
    main {
        padding: 106px 15px 190px 15px;
    }
}