/*---MODULES---*/
.title {
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 30px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 16px;
  }
}

.text {
  margin-bottom: 30px;
}

.donate-form {
  flex-direction: column;
  align-items: flex-start;
}
.donate-form .form-title {
  font-weight: 600;
  margin: 0;
}
.donate-form .checkbox-wrap .checkbox:last-child {
  margin-bottom: 5px;
}
.donate-form .input-checkbox {
  margin-bottom: 10px;
}
.donate-form .checkbox .input-wrap {
  width: 70px;
  margin-right: 10px;
}

.location {
  width: 100%;
}
.location p, .location a {
  margin: 0;
}
.location .loc-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .location .loc-wrap {
    flex-wrap: wrap;
  }
  .location .loc-wrap p {
    width: 100%;
  }
}
.location .loc-wrap p {
  font-weight: 600;
}
.location .loc-wrap p:not(.loc) {
  font-weight: 700;
  font-size: 20px;
}
.location .loc-wrap img {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  object-fit: contain;
}
.location .loc-wrap img.mes {
  width: 37px;
}
.location .loc-wrap .link-wrap {
  margin-left: 15px;
  margin-bottom: 5px;
}
.location .loc-wrap .link-wrap a {
  color: var(--main-red);
}

.donate-form-detail {
  gap: 30px;
}
.donate-form-detail > p:first-child {
  margin: 0;
}
.donate-form-detail.low-gap {
  gap: 20px;
}
.donate-form-detail.low-gap .input-wrap {
  margin: 0;
}
.donate-form-detail .input-row {
  width: 100%;
}
.donate-form-detail .input-row .input-wrap:last-child {
  margin: 0;
}
.donate-form-detail .input-title {
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .donate-form-detail .input-title {
    font-size: 18px;
  }
}
.donate-form-detail .input-title.small {
  font-size: 16px;
  margin-top: -15px;
}
@media (max-width: 768px) {
  .donate-form-detail .input-title.small {
    font-size: 14px;
  }
}
.donate-form-detail .input-subtitle {
  line-height: 120%;
  color: var(--dark-grey);
  margin: 10px 0 0 0;
}
@media (max-width: 768px) {
  .donate-form-detail .input-subtitle {
    margin: 5px 0 0 0;
  }
}
.donate-form-detail .input-checkbox {
  margin-top: 15px;
  margin-bottom: 10px;
}
.donate-form-detail .buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.donate-form-detail .buttons .buttons-message {
  margin: 0;
  display: none;
}
.donate-form-detail .buttons .buttons-message.active {
  display: inline;
}
.donate-form-detail .gift-desc {
  font-size: 20px;
  margin: 0;
}
.donate-form-detail .gift-desc b {
  font-weight: 700;
}
.donate-form-detail .submit {
  width: 100%;
  justify-content: center;
}
.donate-form-detail .input-wrap.company {
  flex-direction: row;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .donate-form-detail .input-wrap.company {
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}
.donate-form-detail .input-wrap.company .input {
  border-radius: 5px 0 0 5px;
}
.donate-form-detail .input-wrap.company .add_company {
  cursor: pointer;
  height: 50px;
  padding: 0 20px;
  border-style: solid;
  border-color: var(--light-grey);
  border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: var(--main-red);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .donate-form-detail .input-wrap.company .add_company {
    border: unset;
    height: 25px;
    padding: 0 10px;
    width: fit-content;
    margin-top: 10px;
  }
}