/*---BASE---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
}

img {
  max-width: 100%;
  width: 100%;
}

body, body button {
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
}

/*---LAYOUTS---*/
body.noScroll {
  overflow-y: hidden;
}

body {
  --main-red: #CE0538;
  --light-grey: #D9D9D9;
  --light-grey-bg: #F2F2F2;
  --dark-grey: #8C8C8C;
  --black: #1F1F1F;
}

h1, p.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 15px;
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
  padding-bottom: 8px;
  border-bottom: 2px solid var(--main-red);
  margin-bottom: 25px;
}

.button {
  padding: 15.5px 40px 15.5px 40px;
  border-radius: 5px;
  background: var(--main-red);
  color: #FFFFFF !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.button::after {
  content: "";
  display: block;
  width: 7.35px;
  height: 13px;
  margin-left: 10px;
  background: url("../img/svg/button-arrow.svg");
}
.button.small {
  font-size: 16px;
  line-height: 120%;
  padding: 10px 20px 10px 20px;
  text-transform: capitalize;
}
.button.small::after {
  display: none;
}
@media (max-width: 768px) {
  .button.small {
    font-size: 20px;
  }
}

.wrapper {
  padding: 0 25px;
  max-width: 1146px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0 0 0;
}
.row:last-child {
  padding: 50px 0;
}
.row > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row .col-50 {
  width: 50%;
}
.row .col-full {
  width: 100%;
}

.input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.input-wrap input {
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
  border: 1px solid var(--light-grey);
  outline: unset;
  border-radius: 5px;
}
.input-wrap input.error {
  border-color: var(--main-red);
}
.input-wrap input.error + label + .error-message {
  display: block;
}
.input-wrap input.active + label {
  font-size: 14px;
  top: -10px;
  left: 30px;
}
.input-wrap label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
  left: 20px;
  top: 15px;
  cursor: text;
  background: #fff;
  padding: 0 10px;
  transition: 0.2s;
}
.input-wrap .error-message {
  display: none;
  margin-top: 8px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--main-red);
  position: relative;
}
.input-wrap .error-message:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  background: url("../img/svg/error.svg");
}

.subscription {
  padding: 50px 0;
  margin-top: 70px;
  border-top: 2px solid var(--main-red);
}

.subscription h2 {
  margin-bottom: 30px;
  text-align: center;
}

.subscription-form, #subscription_form {
  width: 100%;
}

#subscription_form button {
  margin: 0 auto;
}

.subscription-message {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription-message.active {
  display: flex;
}
.subscription-message img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.subscription-message .title {
  margin-bottom: 15px;
}
.subscription-message .subtitle {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 120%;
  color: var(--dark-grey);
}

.banner {
  width: 100%;
  background: var(--light-grey-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 15px;
}
.banner .banner-title {
  max-width: 754px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 25px;
}

main .caption {
  color: var(--dark-grey);
  text-align: center;
  margin: 15px 10px 0 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .mob-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding: 0;
  }

  .row {
    flex-direction: column;
    padding: 30px 0 0 0;
  }
  .row:last-child {
    padding: 30px 0;
  }
  .row .col-50 {
    width: 100%;
  }

  h1, p.title {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input-wrap {
    margin-bottom: 15px;
  }

  .subscription {
    margin-top: 50px;
  }

  .subscription h2 {
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }

  .banner {
    padding: 30px 15px;
  }
  .banner .banner-title {
    font-size: 24px;
    line-height: 120%;
  }
  .banner .button {
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .button {
    width: 100%;
    justify-content: center;
  }
}
/*---HEADER---*/
header {
  padding: 0 25px;
  max-width: 1146px;
  margin: 0 auto;
}

header .wrapper {
  padding: 20px 0;
  border-bottom: 2px solid var(--main-red);
}

header .menu-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-menu .logo {
  width: 95px;
  height: 70px;
  margin-right: 16px;
}

header .header-menu nav {
  display: flex;
  gap: 48px;
  align-items: center;
}

header .logo {
  margin-right: 16px;
}

header .header-menu nav a, header .sub-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--main-red);
}

header .sub-menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

header .menu-mob {
  display: none;
}
header .menu-mob .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .menu-mob .menu .logo {
  width: 82px;
  height: 60px;
}
header .menu-mob .menu .menu-button {
  display: flex;
  align-items: center;
}
header .menu-mob .menu .menu-button > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--main-red);
  margin-right: 15px;
}
header .menu-mob .menu .menu-toggle {
  width: 40px;
  height: 40px;
  background: url("../img/svg/menu.svg");
  cursor: pointer;
}
header .menu-mob .menu .menu-toggle.active {
  background: url("../img/svg/menu-close.svg");
}
header .menu-mob .menu .menu-toggle.active + nav {
  left: 0;
}
header .menu-mob .menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 100%;
  height: calc(100vh - 92px);
  left: -100%;
  top: 92px;
  transition: 0.3s;
}
header .menu-mob .menu nav a {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--main-red);
}
header .menu-mob .menu nav .button {
  width: fit-content;
}

@media (max-width: 768px) {
  header .wrapper .menu-desc {
    display: none;
  }

  header {
    padding: 0;
  }

  header .wrapper {
    padding: 15px;
  }

  header .menu-mob {
    display: flex;
  }
}
/*---MODULES---*/
/*---FOOTER---*/
footer .wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--main-red);
}

footer .nav {
  margin-bottom: 25px;
  display: flex;
  gap: 52px;
}

footer .nav > * {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--main-red);
}

footer .copyright {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}

@media (max-width: 768px) {
  footer .nav {
    margin-bottom: 20px;
  }
}
/*---OTHER_PAGES---*/