/*---BASE---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
}

form {
  width: 100%;
}

img {
  max-width: 100%;
  width: 100%;
}

body, button, input, textarea {
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
}

/*---LAYOUTS---*/
body.noScroll {
  overflow-y: hidden;
}

body {
  --main-red: #CE0538;
  --light-grey: #D9D9D9;
  --light-grey-bg: #F2F2F2;
  --dark-grey: #8C8C8C;
  --black: #1F1F1F;
  --success: #219653;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--main-red);
}

.title.border {
  padding: 15px 0px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--main-red);
  border-radius: 5px;
}

h1, p.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 15px;
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 35px;
  width: fit-content;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--main-red);
  transition: 0.2s;
}

.link:hover::after {
  width: 0%;
}

.button {
  padding: 13.5px 38px 13.5px 38px;
  border-radius: 5px;
  border: 2px solid var(--main-red) !important;
  background: var(--main-red);
  color: #FFFFFF !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  color: var(--main-red) !important;
  background: transparent;
}
.button:hover:after {
  filter: brightness(0) saturate(100%) invert(16%) sepia(76%) saturate(4371%) hue-rotate(334deg) brightness(82%) contrast(109%);
}
.button.small {
  font-size: 16px;
  line-height: 120%;
  padding: 10px 20px 10px 20px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .button.small {
    font-size: 20px;
  }
}
.button.secondary {
  color: var(--main-red) !important;
  border: 2px solid var(--main-red);
  background: transparent;
}
.button.secondary:hover {
  color: #fff !important;
  background: var(--main-red);
}
.button.inactive {
  background: var(--light-grey);
  border-color: var(--light-grey) !important;
  color: #fff !important;
  cursor: default;
}
.button.inactive.secondary {
  background: transparent;
  color: var(--light-grey) !important;
}
.button.no-arrow::after {
  display: none;
}

.wrapper {
  padding: 0 25px;
  max-width: 1196px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0 0 0;
}
.row:last-child {
  padding: 50px 0;
}
.row > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row .col-50 {
  width: 50%;
}
.row .col-full {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 15px;
}
@media (max-width: 768px) {
  form {
    row-gap: 15px;
  }
}

.input-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-wrap.error input {
  border-color: var(--main-red);
}
.input-wrap.error .error-message {
  display: block;
}
.input-wrap.success input {
  border-color: var(--success);
}
.input-wrap.success .success-message {
  display: block;
}
.input-wrap.half {
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .input-wrap.half {
    width: 100%;
  }
}
.input-wrap input, .input-wrap textarea, .input-wrap select {
  resize: none;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--black);
  border: 1px solid var(--light-grey);
  outline: unset;
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
}
@media (max-width: 768px) {
  .input-wrap input, .input-wrap textarea, .input-wrap select {
    padding: 10px 20px;
  }
}
.input-wrap input.filled, .input-wrap textarea.filled, .input-wrap select.filled {
  height: 158px;
}
@media (max-width: 768px) {
  .input-wrap input.filled, .input-wrap textarea.filled, .input-wrap select.filled {
    height: 164px;
  }
}
.input-wrap input + label, .input-wrap textarea + label, .input-wrap select + label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
  left: 20px;
  top: 15px;
  cursor: text;
  background: #fff;
  padding: 0 10px;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .input-wrap input + label, .input-wrap textarea + label, .input-wrap select + label {
    font-size: 14px;
  }
}
.input-wrap input.active + label, .input-wrap textarea.active + label, .input-wrap select.active + label {
  font-size: 14px;
  top: -10px;
  left: 20px;
}
.input-wrap textarea {
  padding-top: 6px;
}
.input-wrap select {
  color: var(--black);
  font-weight: 700;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../../img/svg/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 30px);
}
.input-wrap select + label {
  font-size: 14px;
  top: -10px;
  left: 30px;
}
.input-wrap .input-message {
  display: none;
  margin-top: 8px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  position: relative;
}
.input-wrap .input-message.error-message {
  color: var(--main-red);
}
.input-wrap .input-message.error-message:after {
  background: url("../img/svg/error.svg");
}
.input-wrap .input-message.success-message {
  color: var(--success);
}
.input-wrap .input-message.success-message:after {
  background: url("../img/svg/success.svg");
}
.input-wrap .input-message:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 8px);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .input-wrap .input-message {
    margin-top: 5px;
    font-size: 14px;
    padding-left: 20px;
  }
  .input-wrap .input-message::after {
    width: 14px;
    height: 14px;
  }
}

.dropdown {
  width: 100%;
}
.dropdown p {
  font-weight: 600;
  position: relative;
  width: fit-content;
  line-height: 120%;
  cursor: pointer;
  padding-right: 22px;
}
.dropdown p::after {
  content: "";
  width: 14px;
  height: 9px;
  position: absolute;
  top: calc(50% - 4.5px);
  right: 0;
  background: url("../img/svg/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.dropdown.active p::after {
  transform: rotateX(180deg);
  transform-origin: center;
}
.dropdown.active .input-wrap {
  height: 50px;
}
.dropdown .input-wrap {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  padding-left: 34px;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.checkbox.checkbox-phone {
  display: block;
}
@media (max-width: 769px) {
  .checkbox {
    line-height: 120%;
    font-size: 14px;
  }
}
.checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  width: 12px;
  height: 12px;
  border: 5px solid #fff;
  outline: 1px solid #DEDEDE;
  background: #DEDEDE;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.checkbox.active::after {
  width: 12px;
  height: 12px;
  background: var(--main-red);
  border: 5px solid #fff;
  outline: 1px solid var(--main-red);
}
.checkbox.with-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkbox.with-options::after {
  top: 2px;
}
.checkbox.with-options.active {
  margin-bottom: 0;
}
.checkbox.with-options.active .options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox.with-options .options {
  display: none;
  padding: 10px 0 5px;
  width: 100%;
}
.checkbox span {
  font-weight: 700;
  margin-right: 5px;
}
.checkbox > .input-wrap .input {
  height: 36px;
  padding-left: 5px;
  padding-right: 5px;
}

.input-checkbox {
  position: relative;
  margin-bottom: 20px;
  padding-left: 34px;
  display: flex;
}
@media (max-width: 769px) {
  .input-checkbox {
    margin-bottom: 10px;
  }
}
.input-checkbox input {
  display: none;
}
.input-checkbox input:checked + p::after {
  width: 12px;
  height: 12px;
  background: var(--main-red);
  border: 5px solid #fff;
  outline: 1px solid var(--main-red);
}
.input-checkbox.square p:after {
  border-radius: 4px;
}
.input-checkbox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--black);
  margin: 0;
}
.input-checkbox p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 5px solid #fff;
  outline: 1px solid #DEDEDE;
  background: #DEDEDE;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.input-card {
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  .input-card {
    flex-wrap: wrap;
  }
}
.input-card .input-wrap {
  width: auto;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .input-card .input-wrap {
    width: calc(50% - 4px);
  }
}
.input-card .input-wrap:first-child {
  width: 100%;
  position: relative;
}
.input-card .input-wrap:first-child::after {
  content: "";
  width: 44px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  background: url("../img/svg/card.svg");
}

.subscription {
  padding: 50px 0;
  margin-top: 70px;
  border-top: 2px solid var(--main-red);
}

.subscription h2 {
  margin-bottom: 30px;
  text-align: center;
}

.subscription-form {
  width: 100%;
}

.subscription-form.disabled, .contact-col.disabled {
  display: none;
}

.subscription-form.disabled + .thank-message, .contact-col.disabled + .thank-message {
  display: flex;
}

#subscription_form button {
  margin: 0 auto;
}

.thank-message {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thank-message img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.thank-message .title {
  margin-bottom: 15px;
}
.thank-message .subtitle {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 120%;
  color: var(--dark-grey);
}
.thank-message a {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .thank-message a {
    margin-top: 30px;
  }
}

.banner {
  width: 100%;
  background: var(--light-grey-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 15px;
}
.banner .banner-title {
  max-width: 754px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--black);
  margin-bottom: 25px;
}

main .caption {
  color: var(--dark-grey);
  text-align: center;
  margin: 15px 10px 0 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .mob-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding: 0;
  }

  .row {
    flex-direction: column;
    padding: 30px 0 0 0;
  }
  .row:last-child {
    padding: 30px 0;
  }
  .row .col-50 {
    width: 100%;
  }

  h1, p.title {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input-wrap {
    margin-bottom: 15px;
  }

  .subscription {
    margin-top: 50px;
  }

  .subscription h2 {
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }

  .banner {
    padding: 30px 15px;
  }
  .banner .banner-title {
    font-size: 24px;
    line-height: 120%;
  }
  .banner .button {
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .button {
    width: 100%;
    justify-content: center;
  }
}
/*---HEADER---*/
header {
  padding: 0 25px;
  max-width: 1196px;
  margin: 0 auto;
}

header .wrapper {
  padding: 20px 0;
  border-bottom: 2px solid var(--main-red);
}

header .menu-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-menu .logo {
  width: 95px;
  height: 70px;
  margin-right: 16px;
}

header .header-menu nav {
  display: flex;
  gap: 48px;
  align-items: center;
}

header .logo {
  margin-right: 16px;
}

header .header-menu nav a, header .sub-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--main-red);
}

header .sub-menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

header .menu-mob {
  display: none;
}
header .menu-mob .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .menu-mob .menu .logo {
  width: 82px;
  height: 60px;
}
header .menu-mob .menu .menu-button {
  display: flex;
  align-items: center;
}
header .menu-mob .menu .menu-button > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--main-red);
  margin-right: 15px;
}
header .menu-mob .menu .menu-toggle {
  width: 40px;
  height: 40px;
  background: url("../img/svg/menu.svg");
  cursor: pointer;
}
header .menu-mob .menu .menu-toggle.active {
  background: url("../img/svg/menu-close.svg");
}
header .menu-mob .menu .menu-toggle.active + nav {
  left: 0;
}
header .menu-mob .menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  z-index: 99999;
  background: #fff;
  width: 100%;
  height: calc(100vh - 92px);
  left: -100%;
  top: 92px;
  transition: 0.3s;
}
header .menu-mob .menu nav a {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--main-red);
}
header .menu-mob .menu nav .button {
  width: fit-content;
}

@media (max-width: 768px) {
  header .wrapper .menu-desc {
    display: none;
  }

  header {
    padding: 0;
  }

  header .wrapper {
    padding: 15px;
  }

  header .menu-mob {
    display: flex;
  }
}
/*---MODULES---*/
/*---FOOTER---*/
footer {
  padding: 0 25px;
  max-width: 1196px;
  margin: 0 auto;
}

footer .wrapper {
  max-width: unset;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--main-red);
}

footer .nav {
  margin-bottom: 25px;
  display: flex;
  gap: 52px;
}

footer .nav > * {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--main-red);
}

footer .copyright {
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}

@media (max-width: 768px) {
  footer .nav {
    margin-bottom: 20px;
  }

  footer {
    padding: 0;
  }
}
/*---OTHER_PAGES---*/