/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 28px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
        }
        .edit {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #27C4BC;
            text-decoration: none;
        }
    }
}

