/*---BASE---*/
@import './base/_base.scss';




header {
    padding: 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
                filter: invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
            }
        }
        .delete_button {
            margin-right: 6px;
            cursor: pointer;
        }
    }
}

main {
    margin-top: 72px;
    padding-bottom: 120px;
    .wrapper {
        padding: 0 16px;
        .avatar_block {
            position: relative;
            width: fit-content;
            display: flex;
            .avatar {
                width: 96px;
                height: 96px;
                border-radius: 16px;
            }
            .warning {
                width: 32px;
                height: 32px;
                position: absolute;
                right: -4px;
                bottom: 32px;
            }
            a {
                position: absolute;
                bottom: -4px;
                right: -4px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #51B8B8;;
                border-radius: 8px;
                img {
                    width: 13px;
                    height: 12px;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 16px 0 0 0;
            .dropdown {
                position: relative;
                border-radius: 8px 8px 0 0;
                margin-bottom: 16px;
                .arrow {
                    position: absolute;
                    right: 22px;
                    top: 22px;
                    transition: .3s;
                    cursor: pointer;
                }
                .search {
                    display: none;
                    position: absolute;
                    height: 56px;
                    width: calc(100% - 34px);
                    top: 0;
                    box-sizing: border-box;
                    border: unset;
                    padding: 12.5px 16px 17.5px 16px;
                    color: #001730;
                    font-size: 16px;
                    line-height: 26px;
                    &::placeholder {
                        color: #001730;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
                &.active .search {
                    display: flex;
                }
                &.active {
                    box-shadow: 0px 2px 8px -2px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
                    .arrow {
                        transform: rotateX(180deg);
                    }
                }
                .current {
                    position: relative;
                    padding: 12.5px 16px 16.5px 16px;
                    border-color: #F1F2F4;
                    border-style: solid;
                    border-width: 0 0 1px 0;
                    font-size: 16px;
                    line-height: 26px;
                    color: #001730;
                    border-radius: 2px;
                    transition: .2s;
                    cursor: pointer;
                    &.filled {
                        border-color: #13ADAD;
                    }
                }
                .list {
                    padding: 8px 0;
                    transition: .3s;
                    transform: scaleY(0);
                    transform-origin: top;
                    position: absolute;
                    z-index: 9;
                    width: 100%;
                    background-color: #fff;
                    &.active {
                        transform: scaleY(1);
                        box-shadow: 0px 2px 8px -2px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
                    }
                    &.long_list {
                        max-height: 126px;
                    }
                    .option {
                        padding: 8px 24px;
                        font-size: 16px;
                        line-height: 26px;
                        color: #001730;
                        cursor: pointer;
                        &.disable {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


.proceed {
    z-index: 9999;
    padding: 21px 18px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 17px;
    opacity: 0;
    visibility: hidden;
    transition: .1s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    @media(min-width: 768px) {
        right: calc(((100vw - 770px)/2) + 16px)
    }
    img {
        width: 20px;
        height: 14px;
    }
}

.overlay.datepicker-overlay {
    flex-direction: column;
    justify-content: flex-end;
    .closeoverlay {
        background: #fff;
        padding: 24px 24px 40px 24px;
        display: flex;
        justify-content: space-between;
    }
}

#datepicker {
    background: #fff;
    padding: 16px 24px 0 24px;
    box-shadow: 0px -8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 16px 16px 0px 0px;
    ul {
        list-style: none !important;
        li::marker {
            display: none !important;
        }
    }
    .actual_date {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #001730;
    }
    .select-wrap { 
        position: relative; 
        height: 100%; 
        text-align: center; 
        overflow: hidden; 
        font-size: 20px; 
        color: #ddd; 
        &:before, &:after { 
          position: absolute; 
          z-index: 1; 
          display: block; 
          content: ''; 
          width: 100%; 
          height: 50%; 
        } 
        .select-options { 
          position: absolute; 
          top: 50%; 
          left: 0; 
          width: 100%; 
          height: 0; 
          transform-style: preserve-3d; 
          margin: 0 auto; 
          display: block; 
          transform: translateZ(-150px) rotateX(0deg); 
          -webkit-font-smoothing: subpixel-antialiased; 
          color: #666; 
          .select-option { 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 60px; 
            -webkit-font-smoothing: subpixel-antialiased; 
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #B5B9C4;
            @for $i from 1 through 100 { 
              &:nth-child(#{$i}) { 
                transform: rotateX(-18deg * ($i - 1)) translateZ(150px); 
              } 
            } 
          } 
        } 
      } 
      .highlight { 
        position: absolute; 
        top: 50%; 
        transform: translate(0, -50%); 
        width: 100%; 
        background-color: #fff; 
        border-top: 1px solid #DDDFE4; 
        border-bottom: 1px solid #DDDFE4; 
        color: #CD455C;
        font-size: 24px; 
        overflow: hidden; 
      } 
      .highlight-list { 
        // display: none; 
        position: absolute; 
        width: 100%; 
      } 
      .G-picker-all { 
        opacity: 0;
        position: relative; 
        margin: 0 auto; 
      }
      .G-picker-all-show { 
        opacity: 100;
        transition: all .3s;
      }
      .G-picker { 
        position: relative; 
        margin: 0 auto; 
        width: 100%; 
        height: 180px; 
        background-color: #fff; 
      } 
      /* date */ 
      .date-selector { 
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%); 
        perspective: 2000px; 
        display: flex; 
        align-items: stretch; 
        justify-content: space-between; 
        width: 100%; 
        height: 180px; 
        >div { 
          flex: 1; 
        } 
        .select-wrap { 
          font-size: 18px; 
        } 
        .highlight { 
          font-size: 20px; 
        } 
      }
}


.overlay.photo {
    flex-direction: column;
    justify-content: flex-end;
    .uplod_zone {
        background: #fff;
        padding: 16px 24px;
        .title {
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.15px;
            color: #001730;
        }
        form {
            display: flex;
            justify-content: center;
            label {
                width: 312px;
                height: 312px;
                border: 1px dashed #C0C3CC;
                box-sizing: border-box;
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            input {
                display: none;
            }
        }
    }
    .closeoverlay {
        background: #fff;
        padding: 8px 24px 40px 24px;
        display: flex;
        justify-content: center;
    }
}

.overlay.goback {
    justify-content: center;
    align-items: center;
    .wrap {
        width: calc(100% - 32px);
        box-sizing: border-box;
        margin: 0 16px;
        background: #fff;
        box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 24px;
        .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #001730;
            margin-bottom: 24px;
        }
        .text {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #848790;
            margin-bottom: 24px;
        }
        .closeoverlay {
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
}


.delete_profile {
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    .wrapper {
        padding: 24px;
        background: #fff;
        box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #001730;
            margin-bottom: 16px;
        }
        .text {
            padding: 8px 0;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.005em;
            color: #848790;
        }
        .delete_block {
            margin-top: 16px;
        }
    }
}


.button_block {
    display: flex;
    justify-content: space-between;
    button {
        width: calc(50% - 5px);
        padding: 8px 0;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        outline: unset;
        cursor: pointer;
        &.cancel {
            border: 1px solid #F1F2F4;
            border-radius: 4px;
            font-weight: bold;
            color: #848790;
            background: transparent;
        }
        &.delete {
            background: #D11241;
            box-shadow: 2px 2px 2px rgba(14, 65, 103, 0.1);
            border-radius: 8px;
            color: #fff;
            border: unset;
        }
    }
}