/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 20px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
        }
    }
}

main {
    .search_block {
        padding: 0 16px;
        h1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
            padding-bottom: 24px;
        }
        .search_form {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 9px);
                left: 15px;
                width: 18px;
                height: 18px;
                background: url('../img/svg/search.svg');
            }
            input {
                padding: 11px 12px 11px 44px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
                position: relative;
                border: 1px solid #F1F2F4;
                border-radius: 8px;
                box-sizing: border-box;
                width: 100%;
                background: #FAFBFC;
                &::placeholder {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                }
                
            }
        }
    }
    .guest_block {
        .title {
            padding: 20px 16px 12px 16px;
            font-weight: bold;
            font-size: 10px;
            line-height: 160%;
            color: #848790;
            text-transform: uppercase;
            border-bottom: 1px solid #F1F2F4;
        }
        .card {
            padding: 9px 16px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #F1F2F4;
            .user_info {
                display: flex;
                .avatar {
                    width: 44px;
                    height: 44px;
                    border-radius: 12px;
                    margin-right: 16px;
                }
                .info_details {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: #1F1F2D;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 160%;
                        display: flex;
                        .hieroglyph {
                            margin-right: 4px;
                        }
                        .transcription {
                            margin-left: 4px;
                        }
                    }
                    .age_city {
                        font-size: 14px;
                        line-height: 20px;
                        color: #001730;
                        letter-spacing: 0.005em;
                        display: flex;
                        .coma {
                            margin-right: 3px;
                        }
                    }
                }
            }
            .order_date {
                display: flex;
                flex-direction: column;
                .date {
                    margin-bottom: 10px;
                    color: #848790;
                    font-size: 12px;
                    line-height: 160%;
                }
                .link_to_order {
                    margin-left: auto;
                    margin-right: 15px;
                    display: flex;
                }
            }
        }
    }
}

.add {
    padding: 21px 21px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 17px;
    @media(min-width: 768px) {
        right: calc(((100vw - 770px)/2) + 24px)
    }
    img {
        width: 14px;
        height: 14px;
        
    }
}