/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 28px 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

main {
    margin-top: 72px;
    .wrapper {
        padding: 0 16px;
    }
    .card {
        margin-bottom: 16px;
        padding: 8px;
        border-bottom: 1px solid #F1F2F4;
        .heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            .profile-info {
                display: flex;
                align-items: center;
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    border: 1px solid #DDDFE4;
                    box-sizing: border-box;
                    margin-right: 8px;
                }
                .name {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    color: #001730;
                    margin-bottom: 8px;
                }
                .date {
                    font-size: 14px;
                    line-height: 100%;
                    color: #3A3C40;
                }
            }
            .review-type {
                display: flex;
                align-items: center;
                .plus {
                    margin-right: 8px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    color: #13ADAD;
                }
                &.negative .plus {
                    color: #D11241;
                }
                img {
                    width: 19px;
                    height: 19px;
                }
            }
        }
        .body {
            .review-text {
                font-size: 16px;
                line-height: 26px;
                color: #848790;
                .more {
                    display: none;
                }
                &.opened {
                    .more {
                        display: inline;
                    } 
                    .dots {
                        display: none;
                    }
                }
                a {
                    color: #13ADAD;
                }
            }
        }
    }
}