/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
        .nav {
            display: flex;
            align-items: center;
            .search {
                margin-right: 25px;
            }
        }
    }
}

main {
    margin-top: 56px;
    .wrapper {
        padding: 0 16px;
    }
    .search-block {
        background: #f0f2f5;
        padding: 12px 16px;
        display: flex;
        input {
            width: 100%;
            padding: 12.5px 52px;
            background-color: #FFFFFF;
            border: 1px solid #DDDFE4;
            border-radius: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #848790;
            background-image: url('../img/svg/search.svg');
            background-repeat: no-repeat;
            background-position: 19px 50%;
            &::placeholder {
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.15px;
                color: #848790;
            }
        }
    }
    .guest_block {
        .title-block {
            padding: 16px;
            border-bottom: 1px solid #F1F2F4;
            display: flex;
            justify-content: space-between;
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.15px;
                color: #001730;
            }
            .rs {
                display: flex;
                align-items: center;
                p {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 160%;
                    text-align: center;
                    color: #001730;
                    &:last-child {
                        width: 40px;
                    }
                }
            }
        }
        .card {
            padding: 0 8px 0 16px;
            display: flex;
            height: 64px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #F1F2F4;
            .user_info {
                display: flex;
                .avatar {
                    width: 44px;
                    height: 44px;
                    border: 1px solid #DDDFE4;
                    box-sizing: border-box;
                    border-radius: 8px;
                    margin-right: 16px;
                }
                .info_details {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: #1F1F2D;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 160%;
                        display: flex;
                        .hieroglyph {
                            margin-right: 4px;
                        }
                        .transcription {
                            margin-left: 4px;
                        }
                    }
                    .age_city {
                        font-size: 14px;
                        line-height: 20px;
                        color: #001730;
                        letter-spacing: 0.005em;
                        display: flex;
                        .coma {
                            margin-right: 3px;
                        }
                    }
                }
            }
            .order_date {
                display: flex;
                align-items: center;
                .date {
                    color: #848790;
                    font-size: 12px;
                    line-height: 160%;
                    white-space: nowrap;
                }
                .link_to_order {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 8px;
                    img {
                        width: 7.5px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

.add {
    padding: 21px 21px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 16px;
    @media(min-width: 768px) {
        right: calc(((100vw - 766px)/2) + 16px);
    }
    img {
        width: 14px;
        height: 14px;
        
    }
}

@media(min-width: 768px) {
    .scroll .add {
        right: calc(((100vw - 766px)/2) + 16px - (var(--scroll-width) / 2));
    }
}