/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
        .nav {
            display: flex;
            align-items: center;
            .search {
                margin-right: 25px;
            }
        }
    }
}

main {
    margin-top: 56px;
    padding-bottom: 120px;
    background: #F0F2F5;
    .wrapper {
        padding: 0 16px;
    }
    .title-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 56px 16px 16px;
        p {
            font-weight: 500;
            font-size: 10px;
            line-height: 160%;
            text-transform: uppercase;
            color: #001730;
            &.title {
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.15px;
            }
        }
    }
    .body {
        .card.active {
            .arrow {
                filter: unset;
                transform: rotateX(180deg);
            }
            .card-extend {
                display: flex;
            }
        }
        .card.no-extend {
            .arrow {
                display: none;
            }
        }
        .card {
            cursor: pointer;
            margin: 0 8px 4px 8px;
            border: 1px solid #F1F2F4;
            box-sizing: border-box;
            border-radius: 8px;
            background: #fff;
            &.inactive {
                .card-title .item img {
                    filter: brightness(0) saturate(100%) invert(92%) sepia(10%) saturate(183%) hue-rotate(187deg) brightness(88%) contrast(83%);
                }
                .card-title .item p {
                    color: #848790;
                }
                .card-title .wash p {
                    color: #848790;
                }
            }
        }
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px;
            position: relative;
            &.one-off .item p {
                font-size: 16px;
                line-height: 160%;
                font-weight: 400;
            }
            .item {
                display: flex;
                align-items: center;
                img {
                    width: 28px;
                    height: 28px;
                    filter: brightness(0) saturate(100%) invert(97%) sepia(52%) saturate(5902%) hue-rotate(144deg) brightness(79%) contrast(76%);
                }
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #001730;
                    margin-left: 8px;
                }
                .count {
                    font-weight: bold;
                    font-size: 12px;
                    color: #3A3C40;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #F1F2F4;
                    border-radius: 4px;
                }
            }
            .wash {
                display: flex;
                align-items: center;
                margin-right: 36px;
                img {
                    margin-right: 8px;
                }
                p {
                    font-size: 12px;
                    line-height: 160%;
                    color: #001730;
                }
            }
            .date {
                font-size: 12px;
                line-height: 160%;
                color: #848790;
                margin-right: 36px;
            }
            .arrow {
                position: absolute;
                right: 16px;
                width: 8px;
                height: 5px;
                top: calc(50% - 2.5px);
                transition: .3s;
                filter: brightness(0) saturate(100%) invert(84%) sepia(12%) saturate(193%) hue-rotate(186deg) brightness(89%) contrast(84%);
            }
        }
        .card-extend {
            flex-direction: column;
            display: none;
            .item {
                padding: 12px 12px 12px 16px;
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #53565E;
                    &.date {
                        font-size: 12px;
                        line-height: 160%;
                        color: #848790;
                        
                    }
                }
            }
        }
    }
}

.add {
    padding: 21px 21px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 16px;
    @media(min-width: 768px) {
        right: calc(((100vw - 766px)/2) + 16px);
    }
    img {
        width: 14px;
        height: 14px;
        
    }
}

@media(min-width: 768px) {
    .scroll .add {
        right: calc(((100vw - 766px)/2) + 16px - (var(--scroll-width) / 2));
    }
}