/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 20px 0 20px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .back {
            display: flex;
            margin-bottom: 24px;
        }
        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
            margin-bottom: 24px;
            margin-left: 16px;
        }
        .search_form {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 9px);
                left: 15px;
                width: 18px;
                height: 18px;
                background: url('../img/svg/search.svg');
            }
            input {
                padding: 11px 12px 11px 44px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
                position: relative;
                border: 1px solid #F1F2F4;
                border-radius: 8px;
                box-sizing: border-box;
                width: 100%;
                background: #FAFBFC;
                &::placeholder {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                }
                
            }
        }
    }
}