/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 20px 0 20px 0;
    background: #fff;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .back {
            display: flex;
            margin-bottom: 24px;
        }
        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
            margin-bottom: 24px;
            margin-left: 16px;
        }
        .search_form {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: calc(50% - 9px);
                left: 15px;
                width: 18px;
                height: 18px;
                background: url('../img/svg/search.svg');
            }
            input {
                padding: 11px 12px 11px 44px;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
                position: relative;
                border: 1px solid #F1F2F4;
                border-radius: 8px;
                box-sizing: border-box;
                width: 100%;
                background: #FAFBFC;
                &::placeholder {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                }
                
            }
        }
    }
}

main {
    margin-top: 183px;
    padding-bottom: 35px;
    .head {
        padding: 0 16px 12px 16px;
        box-sizing: border-box;
        border-bottom: 1px solid #F1F2F4;
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 500;
            font-size: 10px;
            line-height: 160%;
            text-transform: uppercase;
            color: #848790;
            margin-right: 8px;
        }
    }
    .body {
        .card.active .arrow {
            filter: unset;
        }
        .card.active .arrow.active {
            transform: rotateX(180deg);
        }
        .card.active {
            cursor: pointer;
        }
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 16px 16px 16px;
            border-bottom: 1px solid #F1F2F4;
            position: relative;
            &.one-off .item p {
                font-size: 16px;
                line-height: 160%;
                font-weight: 400;
            }
            .item {
                display: flex;
                align-items: center;
                p {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: #3A3C40;
                    margin-left: 8px;
                }
                .count {
                    font-weight: bold;
                    font-size: 12px;
                    color: #3A3C40;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #F1F2F4;
                    border-radius: 4px;
                }
            }
            .policy {
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.005em;
                color: #001730;
                margin-right: 54px;
            }
            .arrow {
                position: absolute;
                right: 31px;
                top: calc(50% - 4px);
                filter: brightness(0) saturate(100%) invert(84%) sepia(12%) saturate(193%) hue-rotate(186deg) brightness(89%) contrast(84%);
            }
        }
        .card-extend {
            flex-direction: column;
            padding: 0 16px;
            display: none;
            background: #FAFBFC;
            &.active {
                display: flex;
            }
            .item {
                padding: 12px 0 11px 7px;
                border-bottom: 1px solid #F1F2F4;
                display: flex;
                p {
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                    &.count {
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}

.add {
    padding: 21px 21px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 17px;
    @media(min-width: 768px) {
        right: calc(((100vw - 770px)/2) + 24px)
    }
    img {
        width: 14px;
        height: 14px;
        
    }
}