/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 8px 0 16px;
}


header {
    background-color: #001730;
    .profile_section {
        padding: 16px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        .profile {
            display: flex;
            align-items: center;
            .image {
                margin-right: 8px;
                display: flex;
                img {
                    width: 40px;
                    height: 40px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: 1px solid #DDDFE4;
                }
            }
            .name {
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 0.15px;
                color: #FFFFFF;
            }
        }
        .serve_button {
            text-decoration: unset;
            padding: 10px 16px 10px 40px;
            height: 40px;
            box-sizing: border-box;
            background: #CD455C;
            border-radius: 8px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            position: relative;
            letter-spacing: 0.005em;
            transition: .3s;
            @media(min-width: 769px) {
                &:hover {
                    background: #DE576D;
                }
            }
            &.disabled {
                color: #C0C3CC !important;
                background: #F1F2F4 !important;
            }
            &:before {
                content: '';
                position: absolute;
                background: url('../img/svg/serve_white.svg');
                background-size: cover;
                width: 15px;
                height: 15px;
                left: 14.5px;
                top: calc(50% - 7.5px);
            }
        }
    }
}

main {
    margin-top: 72px;
    padding-bottom: 120px;
    .list {
        &.waiting_list .card.grey {
            background: #EEFBFA;
        }
        .title {
            padding: 12px 16px;
            font-weight: 500;
            font-size: 10px;
            line-height: 160%;
            color: #848790;
            text-transform: uppercase;
            border-bottom: 1px solid #F1F2F4;
        }
        .card {
            border-bottom: 1px solid #F1F2F4;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &.empty {
                .coma, .city, .serve_icon {
                    display: none;
                }
            }
            .user_info {
                padding: 9px 16px;
                display: flex;
                align-items: center;
                &.unactive {
                    opacity: .5;
                }
                .avatar {
                    width: 38px;
                    height: 38px;
                    border-radius: 8px;
                    margin-right: 8px;
                    border: 1px solid #DDDFE4;
                }
                .info_details {
                    display: flex;
                    flex-direction: column;
                    .name_hanzi {
                        color: #001730;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 160%;
                    }
                    .name_english {
                        font-size: 12px;
                        line-height: 18px;
                        color: #848790;
                    }
                }
            }
            .time {
                padding: 9px 16px;
                display: flex;
                align-items: center;
                &.unactive {
                    opacity: .5;
                }
                .remain_time {
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    color: #13ADAD;
                    width: 39px;
                }
                .img_wrapper_serve {
                    background: #FAFBFC;
                    border: 1px solid #F1F2F4;
                    box-sizing: border-box;
                    border-radius: 8px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .2s;
                    @media(min-width: 769px) {
                        &:hover {
                            background: #FFEBEE;
                            .serve_icon {
                                filter: brightness(0) saturate(100%) invert(57%) sepia(92%) saturate(5578%) hue-rotate(328deg) brightness(88%) contrast(79%);
                            }
                        }
                    }
                    &.active {
                        background: #CD455C;
                        .serve_icon {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(319deg) brightness(106%) contrast(101%);
                        }
                    }
                }
                .shower_icon {
                    width: 14px;
                    height: 14px;
                    margin-right: 8px;
                }
                .serve_icon {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(58%) sepia(13%) saturate(186%) hue-rotate(187deg) brightness(89%) contrast(96%);
                }
            }
        }
    }
}

.chat {
    padding: 21px 18px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 16px;
    @media(min-width: 768px) {
        right: calc(((100vw - 766px)/2) + 16px);
    }
    img {
        width: 20px;
        height: 14px;
        
    }
}

@media(min-width: 768px) {
    .scroll .chat {
        right: calc(((100vw - 766px)/2) + 16px - (var(--scroll-width) / 2));
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001730;
    z-index: 999;
    transform: translateY(-100%);
    padding: 37px 24px;
    transition: .3s;
    box-sizing: border-box;
    &.active {
        transform: translateY(0);
    }
    @media(min-width: 768px) {
        max-width: 768px;
        left: calc((100% - 770px)/2);
        &.scroll {
            left: calc((100% - 770px)/2 - 8px);  
        }
    }
    .close {
        margin-left: 5px;
        width: 14px;
        height: 14px;
        margin-bottom: 21px;
        cursor: pointer;
    }
    .user {
        display: flex;
        align-items: center;
        padding-bottom: 23px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        margin-bottom: 36px;
        .avatar {
            height: 56px;
            width: 56px;
            border: 1px solid #DDDFE4;
            box-sizing: border-box;
            border-radius: 12px;
            margin-right: 8px;
        }
        .name {
            margin-bottom: 4px;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
        }
        .position {
            display: flex;
            align-items: center;
            img {
                width: 13px;
                height: 12px;
                margin-right: 5px
            }
            p {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #D11241;
            }
        }
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        a {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
            img {
                margin-right: 18px;
            }
        }
    }
    .sign-out {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        position: absolute;
        left: 34px;
        bottom: 60px;
        img {
            margin-right: 18px;
        }
        @media(max-height: 440px) {
            position: static;
            margin-left: 10px;
        }
    }
}