/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}


header {
    background-color: #001730;
    .profile_section {
        padding: 24px 0 8px;
        position: relative;
        .profile {
            display: flex;
            align-items: flex-end;
            .image {
                margin-right: 8px;
                img {
                    width: 44px;
                    height: 44px;
                    border-radius: 12px;
                    
                }
            }
            .position {
                display: flex;
                img {
                    margin-right: 5.33px;
                }
                p {
                    color: #D11241;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                }
            }
        }
        .burger {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 20px;
            .line {
                width: 18px;
                height: 2px;
                background-color: #DADADA;
                &:not(:last-child) {
                    margin-bottom: 3px;
                }
            }
        }
    }
    .total_section {
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .total {
            .title {
                color: #848790;
                font-size: 12px;
                line-height: 160%;
            }
            .total_guests {
                font-size: 24px;
                line-height: 35px;
                color: #fff;
                font-weight: 700;
            }
        }
        .serve_button {
            text-decoration: unset;
            padding: 10px 22px 10px 46px;
            border: 2px solid #D11241;
            border-radius: 8px;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            position: relative;
            transition: .3s;
            &:before {
                content: '';
                position: absolute;
                background: url('../img/svg/serve_white.svg');
                width: 18px;
                height: 18px;
                left: 18px;
            }
            &:hover {
                background-color: #D11241;
            }
        }
    }
}

main {
    .list {
        .title {
            padding: 12px 16px;
            font-weight: bold;
            font-size: 10px;
            line-height: 160%;
            color: #848790;
            text-transform: uppercase;
            border-bottom: 1px solid #F1F2F4;
        }
        .card {
            padding: 9px 16px;
            border-bottom: 1px solid #F1F2F4;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &.empty {
                .coma, .city, .serve_icon {
                    display: none;
                }
            }
            .user_info {
                display: flex;
                &.unactive {
                    opacity: .5;
                }
                .avatar {
                    width: 44px;
                    height: 44px;
                    border-radius: 12px;
                    margin-right: 16px;
                }
                .info_details {
                    display: flex;
                    flex-direction: column;
                    .name {
                        color: #1F1F2D;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 160%;
                        display: flex;
                        .hieroglyph {
                            margin-right: 4px;
                        }
                        .transcription {
                            margin-left: 4px;
                        }
                    }
                    .age_city {
                        font-size: 14px;
                        line-height: 20px;
                        color: #001730;
                        letter-spacing: 0.005em;
                        display: flex;
                        .coma {
                            margin-right: 3px;
                        }
                    }
                }
            }
            .time {
                display: flex;
                flex-direction: column;
                .remain_time {
                    margin-bottom: 6px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 160%;
                    color: #27C4BC;
                    &.waiting {
                        color: #FFB946;
                    }
                    &.bold {
                        font-weight: bold;
                    }
                    &.unactive {
                        color: #848790;
                    }
                }
                .serve_icon {
                    width: 24px;
                    height: 24px;
                    margin: 0 auto;
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(94%) sepia(7%) saturate(128%) hue-rotate(186deg) brightness(101%) contrast(82%);
                    &.active {
                        filter: brightness(0) saturate(100%) invert(14%) sepia(74%) saturate(4474%) hue-rotate(335deg) brightness(96%) contrast(98%);
                    }
                }
            }
        }
    }
}

.chat {
    padding: 21px 18px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 17px;
    @media(min-width: 768px) {
        right: calc(((100vw - 770px)/2) + 24px)
    }
    img {
        width: 20px;
        height: 14px;
        
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001730;
    z-index: 999;
    transform: translateY(-100%);
    padding: 20px 24px;
    transition: .3s;
    box-sizing: border-box;
    &.active {
        transform: translateY(0);
    }
    @media(min-width: 768px) {
        max-width: 768px;
        left: calc((100% - 770px)/2);
        &.scroll {
            left: calc((100% - 770px)/2 - 8px);  
        }
    }
    .close {
        margin-left: 5px;
        width: 14px;
        height: 14px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    .user {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        margin-bottom: 36px;
        .avatar {
            height: 56px;
            width: 56px;
            border: 1px solid #DDDFE4;
            box-sizing: border-box;
            border-radius: 12px;
            margin-right: 8px;
        }
        .name {
            margin-bottom: 4px;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
        }
        .position {
            display: flex;
            align-items: center;
            img {
                width: 13px;
                height: 12px;
                margin-right: 5px
            }
            p {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #D11241;
            }
        }
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        a {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
            img {
                margin-right: 18px;
            }
        }
    }
    .sign-out {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        position: absolute;
        left: 34px;
        bottom: 60px;
        img {
            margin-right: 18px;
        }
    }
}