/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 28px 0 20px 4px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
        }
    }
}

main {
    .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #001730;
        margin-bottom: 24px;
    }
    .options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .option {
            margin-bottom: 10px;
            padding: 16px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
            &.w100 {
                width: 100%;
                background: #001730;
            }
            &.w50 {
                width: calc(50% - 5px);
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: 150px;
            }
            &.behavior_interview {
                background: #ED4A75;
            }
            &.items_we_lost {
                background: #3E9BCF;
            }
            &.unfulfilled_requests {
                background: #2DB7B7;
            }
            &.items_we_trashed {
                background: #FFD366;
            }
            .icon {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 4px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 8px;
            }
            .option-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.15px;
                color: #FFFFFF;
            }
        }
    }
}