/*---BASE---*/
@import './base/_base.scss';



header {
    background: #fff;
    padding: 0 20px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .back {
            display: flex;
            margin: 20px 0;
        }
        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
        }
        .filter {
            font-size: 12px;
            line-height: 160%;
            color: #001730;
            margin: 18.5px 0;
            span {
                text-decoration-line: underline;
                color: #13ADAD;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}

main {
    margin-top: 140px;
    .wrapper {
        padding: 0 16px;
    }
    .header {
        padding: 16px 36px 16px 16px;
        border-bottom: 1px solid #F1F2F4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 720px) {
            padding-right: 56px;
        }
        p {
            font-weight: 500;
            font-size: 10px;
            line-height: 160%;
            text-transform: uppercase;
            color: #848790;
        }
        .icons {
            display: flex;
            align-items: flex-end;
            p {
                width: 34px;
                text-align: center;
                @media(min-width: 720px) {
                    width: 48px
                }
            }
            
        }
    }
    .cards {
        .card {
            transition: .2s;
            &.active {
                .expand {
                    transform: rotateX(180deg);
                    filter: unset;
                }
                .dropdown {
                    opacity: 1;
                    max-height: 100%;
                    transform: scaleY(1);
                }
            }
        }
        .body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 15px 36px 16px 16px;
            border-bottom: 1px solid #F1F2F4;
            cursor: pointer;
            @media(min-width: 720px) {
                padding-right: 56px;
            }
            .item {
                display: flex;
                align-items: center;
                .name {
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: #3A3C40;
                    width: 105px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .expand {
                position: absolute;
                right: 21px;
                width: 10px;
                cursor: pointer;
                transition: transform .2s;
                filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(6717%) hue-rotate(176deg) brightness(82%) contrast(91%);
                @media(min-width: 720px) {
                    right: 25px;
                }
            }
        }
        .dropdown {
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;
            max-height: 0;
            .card-expand {
                display: flex;
                justify-content: space-between;
                align-items: center;  
                padding: 15px 36px 15px 16px;  
                background:#FAFBFC;
                @media(min-width: 720px) {
                    padding-right: 56px;
                }
                .item {
                    overflow: hidden;
                }
                .name {
                    color: #848790;
                    font-size: 12px;
                    height: 14px;
                    line-height: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .values {
                    p {
                        letter-spacing: 0.005em;
                        color: #848790;
                    }
                }
            }
        }
        .values {
            display: flex;
            p {
                width: 34px;
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #3A3C40;;
                @media(min-width: 720px) {
                    width: 48px
                }
                &.alert {
                    color: #F95557;
                }
            }
        }
    }
}
