/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 28px 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.desktop-wrapper {
    background: #F0F2F5;
}

main {
    margin-top: 56px;
    .wrapper {
        padding: 0 16px;
    }
    .header {
        height: 56px;
        padding: 0 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #001730;
        }
        .icons {
            display: flex;
            align-items: flex-end;
            padding-right: 48px;
            .icon-wrapper {
                width: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(91%) contrast(92%);
                }
            }
        }
    }
    .cards {
        padding: 0 16px;
        .card {
            transition: .2s;
            margin-bottom: 8px;
            &.active {
                .expand {
                    transform: rotateX(180deg);
                    filter: unset;
                }
                .dropdown {
                    opacity: 1;
                    max-height: 100%;
                    transform: scaleY(1);
                }
                .body {
                    border-radius: 8px 8px 0 0;
                }
                .card-expand:last-child {
                    border-radius: 0 0 8px 8px;
                }
            }
        }
        .body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 48px;
            cursor: pointer;
            box-sizing: border-box;
            background: #fff;
            padding: 0 8px 0 12px;
            border-radius: 8px;
            .item {
                display: flex;
                align-items: center;
                img {
                    filter: brightness(0) saturate(100%) invert(66%) sepia(22%) saturate(877%) hue-rotate(131deg) brightness(94%) contrast(89%);
                }
                .name {
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: #001730;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .expand-wrapper {
                position: absolute;
                right: 8px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                .expand {
                    width: 10px;
                    cursor: pointer;
                    transition: transform .2s;
                    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(6717%) hue-rotate(176deg) brightness(82%) contrast(91%);
                }
            }
        }
        .dropdown {
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;
            max-height: 0;
            .card-expand {
                display: flex;
                justify-content: space-between;
                align-items: center;  
                height: 44px;
                padding: 0 8px 0 16px;
                background: #fff;
                .item {
                    overflow: hidden;
                }
                .name {
                    color: #53565E;
                    font-size: 14px;
                    line-height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .values {
                    p {
                        font-weight: 400;
                    }
                }
            }
        }
        .values {
            display: flex;
            margin-right: 40px;
            p {
                width: 34px;
                font-weight: 700;
                text-align: center;
                font-size: 12px;
                line-height: 100%;
                color: #3A3C40;;
                &.alert {
                    color: #F95557;
                }
            }
        }
    }
}


.datepicker-wrapper {
    padding: 16px;
    position: relative;
    z-index: 99;
    .title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.15px;
        color: #001730;
    }
    .dates {
        background: #FFFFFF;
        border: 1px solid #F1F2F4;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        .date {
            height: 48px;
            width: 50%;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #001730;
            border-right: 1px solid #F1F2F4;
            padding-left: 16px;
            display: flex;
            align-items: center;
        }
        .toggleButton {
            cursor: pointer;
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
            img {
                filter: brightness(0) saturate(100%) invert(60%) sepia(4%) saturate(549%) hue-rotate(187deg) brightness(88%) contrast(93%);
            }
            @media(min-width: 769px) {
                &:hover {
                    background: #DDF0EE;
                }
            }
            &.active img {
                filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(3063%) hue-rotate(131deg) brightness(94%) contrast(91%);
            }
        }
    }
    .dates-popup {
        transform: scaleY(0);
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
        border-radius: 8px;
        padding: 8px 0;
        transform-origin: top;
        transition: .2s;
        position: absolute;
        width: 328px;
        margin-top: 8px;
        right: 16px;
        &.active {
            transform: scaleY(1); 
        }
        .range {
            padding: 4px 0;
            &:not(:last-child) {
                border-bottom: 1px solid #DDDFE4;
            }
            .datepicker-button {
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                cursor: pointer;
                transition: .2s;
                @media(min-width: 769px) {
                    &:hover {
                        background: #DDF0EE;
                    }
                }
                .name {
                    font-size: 16px;
                    line-height: 160%;
                    color: #001730;
                }
                .date {
                    font-size: 16px;
                    line-height: 160%;
                    color: #848790;
                }
            }
        }
    }
}




#datepicker {
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s;
    position: absolute;
    width: calc(100% - 32px);
    margin-top: 8px;
    right: 16px;
    height: 411px;
    width: 328px;
    &.active {
        transform: scaleY(1); 
    }
    .datepicker-close {
        filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(3063%) hue-rotate(131deg) brightness(94%) contrast(91%);
        position: absolute;
        top: 28px;
        left: 16px;
        z-index: 9999;
        cursor: pointer;
    }
    .vc-container {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
        border-radius: 8px;
        .vc-arrows-container {
            padding: 24px 12px 16px 12px;
            .vc-arrow {
                border: unset;
                margin-left: 16px;
            }
            svg {
                width: 24px;
                height: 24px;
            }
            path {
                fill: #13ADAD;
            }
        }
        .vc-header {
            padding: 24px 12px 16px 44px;
            .vc-title {
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #001730;
                text-transform: capitalize;
                font-family: 'Noto Sans SC', sans-serif;
            }
        }
        .vc-weeks {
            font-family: 'Noto Sans SC', sans-serif;
            padding: 0 12px;
            grid-row-gap: 8px;
            .vc-weekday {
                height: 40px;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.005em;
                color: #848790;
                padding: 0 0 8px 0;
                border-bottom: 1px solid #DDDFE4;
                margin-bottom: 24px;
            }
            .vc-day {
                font-size: 16px;
                line-height: 160%;
                color: #001730;
                height: 40px;
                &.is-today .vc-day-content {
                    border: 1px solid #51B8B8;
                }
                .vc-day-content {
                    width: 40px;
                    height: 40px;
                }
                .vc-highlight {
                    width: 40px;
                    height: 40px;
                    border: unset !important;
                    background-color: #51B8B8 !important;
                    &.vc-highlight-base-middle {
                        width: 100%;
                        background: rgba(81, 184, 184, 0.2) !important;
                    }
                    &.vc-highlight-base-start, &.vc-highlight-base-end {
                        background: rgba(81, 184, 184, 0.2) !important;
                    }
                }
            }
        }
    }
}