/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 28px 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.desktop-wrapper {
    background: #F0F2F5;
}

main {
    margin-top: 56px;
    .wrapper {
        padding: 0 16px;
    }
    .header {
        height: 56px;
        padding: 0 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #001730;
        }
    }
    .cards {
        background: #fff;
        padding: 8px 0;
        .card {
            padding: 0 16px 4px 16px;
            margin-bottom: 4px;
            border-bottom: 1px solid #F1F2F4;
            transition: .2s;
            position: relative;
            &.active {
                .expand {
                    transform: rotateX(180deg);
                    filter: unset !important;
                }
                .dropdown {
                    opacity: 1;
                    max-height: 100%;
                    transform: scaleY(1);
                    margin: 16px 16px 8px 16px;
                }
            }
            .body {
                height: 64px;
                display: flex;
                align-items: center;
                cursor: pointer;
                .avatar {
                    border: 1px solid #DDDFE4;
                    box-sizing: border-box;
                    border-radius: 8px;
                    height: 48px;
                    width: 48px;
                }
                .info {
                    margin-left: 8px;
                    .name {
                        margin-bottom: 8px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 100%;
                        color: #001730;
                    }
                    .reviews {
                        display: flex;
                        &>div {
                            display: flex;
                            align-items: center;
                            width: 48px;
                            margin-right: 16px;
                            padding: 2px;
                            box-sizing: border-box;
                        }
                        img {
                            width: 16px;
                            height: 16px;
                        }
                        .count {
                            margin-left: 6px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 100%;
                            color: #3A3C40;
                        }
                    }
                }
                .expand-wrapper {
                    position: absolute;
                    right: 16px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .expand {
                        width: 10px;
                        cursor: pointer;
                        transition: transform .2s;
                        filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(6717%) hue-rotate(176deg) brightness(82%) contrast(91%);
                    }
                }
            }
            .dropdown {
                transform: scaleY(0);
                transform-origin: top;
                opacity: 0;
                max-height: 0;
                border-left: 1px solid #DDDFE4;
                padding-left: 8px;
                .review {
                    padding: 8px;
                    margin-bottom: 8px;
                    .review-head {
                        display: flex;
                        justify-content: space-between;
                        .info {
                            display: flex;
                            align-items: center;
                            margin-bottom: 8px;
                            .avatar {
                                width: 40px;
                                height: 40px;
                                border: 1px solid #DDDFE4;
                                box-sizing: border-box;
                                border-radius: 12px;
                                margin-right: 8px;
                            }
                            .name {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 100%;
                                color: #001730;
                                margin-bottom: 8px;
                            }
                            .date {
                                font-size: 14px;
                                line-height: 100%;
                                color: #3A3C40;
                            }
                        }
                        .actions {
                            display: flex;
                            align-items: center;
                            position: relative;
                            .plus {
                                width: 10px;
                                height: 10px;
                                margin-right: 10px;
                                &.negative {
                                    filter: brightness(0) saturate(100%) invert(13%) sepia(88%) saturate(4223%) hue-rotate(336deg) brightness(100%) contrast(96%);
                                }
                            }
                            .type {
                                width: 19px;
                                height: 19px;
                                margin-right: 30px;
                            }
                            .dots {
                                cursor: pointer;
                                margin-right: 2px;
                            }
                            .menu {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                bottom: -30px;
                                right: 0;
                                width: 100px;
                                padding: 6px 12px 7px 12px;
                                font-size: 12px;
                                line-height: 160%;
                                border: 0;
                                background: unset;
                                color: #001730;
                                background: #FFFFFF;
                                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
                                border-radius: 4px;
                                font-family: 'Noto Sans SC', sans-serif;
                                transition: .1s;
                                cursor: pointer;
                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    .review-body {
                        p {
                            font-size: 16px;
                            line-height: 160%;
                            color: #848790;
                            .more {
                                color: #13ADAD;
                                cursor: pointer;
                                &.unactive {
                                    display: none;
                                }
                            }
                            .extend_text {
                                display: none;
                                &.active {
                                    display: inline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.datepicker-wrapper {
    padding: 16px;
    position: relative;
    z-index: 99;
    .title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.15px;
        color: #001730;
    }
    .dates {
        background: #FFFFFF;
        border: 1px solid #F1F2F4;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        .date {
            height: 48px;
            width: 50%;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #001730;
            border-right: 1px solid #F1F2F4;
            padding-left: 16px;
            display: flex;
            align-items: center;
        }
        .toggleButton {
            cursor: pointer;
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
            img {
                filter: brightness(0) saturate(100%) invert(60%) sepia(4%) saturate(549%) hue-rotate(187deg) brightness(88%) contrast(93%);
            }
            &:hover {
                background: #DDF0EE;
            }
            &.active img {
                filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(3063%) hue-rotate(131deg) brightness(94%) contrast(91%);
            }
        }
    }
    .dates-popup {
        transform: scaleY(0);
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
        border-radius: 8px;
        padding: 8px 0;
        transform-origin: top;
        transition: .2s;
        position: absolute;
        width: 328px;
        margin-top: 8px;
        right: 16px;
        &.active {
            transform: scaleY(1); 
        }
        .range {
            padding: 4px 0;
            &:not(:last-child) {
                border-bottom: 1px solid #DDDFE4;
            }
            .datepicker-button {
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                cursor: pointer;
                transition: .2s;
                &:hover {
                    background: #DDF0EE;
                }
                .name {
                    font-size: 16px;
                    line-height: 160%;
                    color: #001730;
                }
                .date {
                    font-size: 16px;
                    line-height: 160%;
                    color: #848790;
                }
            }
        }
    }
}




#datepicker {
    transform: scaleY(0);
    transform-origin: top;
    transition: .2s;
    position: absolute;
    width: calc(100% - 32px);
    margin-top: 8px;
    right: 16px;
    height: 411px;
    width: 328px;
    &.active {
        transform: scaleY(1); 
    }
    .datepicker-close {
        filter: brightness(0) saturate(100%) invert(68%) sepia(6%) saturate(3063%) hue-rotate(131deg) brightness(94%) contrast(91%);
        position: absolute;
        top: 28px;
        left: 16px;
        z-index: 9999;
        cursor: pointer;
    }
    .vc-container {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
        border-radius: 8px;
        .vc-arrows-container {
            padding: 24px 12px 16px 12px;
            .vc-arrow {
                border: unset;
                margin-left: 16px;
            }
            svg {
                width: 24px;
                height: 24px;
            }
            path {
                fill: #13ADAD;
            }
        }
        .vc-header {
            padding: 24px 12px 16px 44px;
            .vc-title {
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #001730;
                text-transform: capitalize;
                font-family: 'Noto Sans SC', sans-serif;
            }
        }
        .vc-weeks {
            font-family: 'Noto Sans SC', sans-serif;
            padding: 0 12px;
            grid-row-gap: 8px;
            .vc-weekday {
                height: 40px;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.005em;
                color: #848790;
                padding: 0 0 8px 0;
                border-bottom: 1px solid #DDDFE4;
                margin-bottom: 24px;
            }
            .vc-day {
                font-size: 16px;
                line-height: 160%;
                color: #001730;
                height: 40px;
                &.is-today .vc-day-content {
                    border: 1px solid #51B8B8;
                }
                .vc-day-content {
                    width: 40px;
                    height: 40px;
                }
                .vc-highlight {
                    width: 40px;
                    height: 40px;
                    border: unset !important;
                    background-color: #51B8B8 !important;
                    &.vc-highlight-base-middle {
                        width: 100%;
                        background: rgba(81, 184, 184, 0.2) !important;
                    }
                    &.vc-highlight-base-start, &.vc-highlight-base-end {
                        background: rgba(81, 184, 184, 0.2) !important;
                    }
                }
            }
        }
    }
}