/*---BASE---*/
@import './base/_base.scss';

.wrapper {
    padding: 0 16px;
}

header {
    padding: 20px 0 10.5px 4px;
    background: #F1F2F4;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .back {
            display: flex;
            margin-bottom: 24px;
        }
        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
            margin-bottom: 10.5px;
        }
        .filter {
            font-size: 12px;
            line-height: 160%;
            color: #001730;
            span {
                text-decoration-line: underline;
                color: #13ADAD;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}

main {
    padding: 24px 32px;
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        .title {
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            color: #848790;
            margin-bottom: 4px;
        }
        .count {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #001730;
            margin-bottom: 4px;
        }
        .data {
            display: flex;
            p {
                margin-left: 5px;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.005em;
                &.green {
                    color: #13ADAD;
                }
                &.red {
                    color: #D11241;
                }
            }
        }
    }
}

.overlay {
    background-color: rgba(0, 23, 48, 0.4);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .3s;
    z-index: -1;
    opacity: 0;
    @media(min-width: 768px) {
        max-width: 768px;
        left: calc((100% - 770px)/2 - 8px)
    }
    @media(min-width: 768px) {
        width: 768px;
    }
    &.active {
        z-index: 9;
        opacity: 1;
    }
    .closeoverlay {
        background: #fff;
        padding: 29px 16px 40px 16px;
        display: flex;
        justify-content: space-between;
        button {
            padding: 10px 48px;
            border-radius: 8px;
            border: unset;
            font-family: 'Noto Sans SC', sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #000;
            &.active {
                background: #13ADAD;
                box-shadow: 2px 2px 2px rgba(14, 65, 103, 0.1);
                color: #fff;
            }
        }
    }
}
#datepicker {
    .ui-datepicker {
        width: 100%;
        padding: 0;
        border: unset;
        border-radius: 10px 10px 0 0;
        .ui-datepicker-header {
            border-radius: 10px 10px 0 0;
            border: unset;
            padding: 40px 25px 35px 25px;
            background: #fff;
        }
        .ui-datepicker-prev {
            width: 8px;
            height: 12px;
            border: unset;
            left: 25px;
            top: calc(50% - 6px);
            cursor: pointer;
            &.ui-state-disabled {
                cursor: initial;
            }
            span {
                position: static;
                width: 8px;
                height: 12px;
                background: url('../img/svg/chevron_left.svg');
                background-size: cover;
                background-repeat: no-repeat;
                margin: unset;
            }
        }
        .ui-datepicker-next {
            width: 8px;
            height: 12px;
            border: unset;
            right: 25px;
            top: calc(50% - 6px);
            cursor: pointer;
            span {
                position: static;
                width: 8px;
                height: 12px;
                background: url('../img/svg/chevron_right.svg');
                background-size: cover;
                background-repeat: no-repeat;
                margin: unset;
            }
        }
        .ui-datepicker-year {
            display: none;
        }
        .ui-datepicker-month {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #001730;
        }
        .ui-datepicker-calendar {
            margin: 0 32px;
            width: calc(100% - 64px);
            box-sizing: border-box;
        }
        table {
            font-family: 'Noto Sans SC', sans-serif;
        }
        th {
            padding: 7px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #13ADAD;
        }
        td {
            padding: 7px 0;
            span, a {
                border: unset;
                padding: 0;
                background: #fff;
                color: #001730;
                font-size: 16px;
                line-height: 160%;
                text-align: center;
                border-radius: 8px;
                &.ui-state-active {
                    background: #13ADAD;
                    color: #fff;
                }
            }
        }
    }
}
