/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 20px;
    background: #fff;
    .wrapper {
        display: flex;
        flex-direction: column;
        a {
            margin: 20px 0;
            display: flex;
        }
        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #001730;
            margin-bottom: 24px;
        }
    }
}


main {
    margin-top: 160px;
    .wrapper {
        padding: 0 16px;
    }
    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 11px 16px 8px;
        border-bottom: 1px solid #F1F2F4;
        .name {
            font-size: 16px;
            line-height: 160%;
            color: #001730;
            .desc {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
            }
        }
        .counter {
            display: flex;
            .counter_input{
                margin: 0 12px;
                box-sizing: border-box;
                border: unset;
                width: 40px;
                height: 40px;
                background: #F1F2F4;
                border-radius: 12px;
                font-size: 16px;
                line-height: 160%;
                color: #001730;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .minus, .plus {
                cursor: pointer;
            }
        }
    }
}