/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 28px 0 20px;
    background: #001730;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

main {
    margin-top: 72px;
    .wrapper {
        padding: 0 16px;
    }
    .subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.15px;
        color: #001730;
        margin-bottom: 7px;
        padding: 0 16px;
    }
    .account {
        margin-bottom: 31px;
    }
    .setting {
        padding: 9px 16px;
        border-top: 1px solid #F1F2F4;
        display: flex;
        justify-content: space-between;
        &:last-child {
            border-bottom: 1px solid #F1F2F4;
        }
        .info {
            display: flex;
            .avatar {
                width: 44px;
                height: 44px;
                border: 1px solid #DDDFE4;
                border-radius: 12px;
            }
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 16px;
                .name {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.01em;
                    color: #001730;
                }
                .position {
                    padding-left: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #D11241;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 15px;
                        background: url('../img/svg/position_icon.svg');
                        left: 2px;
                        top: calc(50% - 7.5px);
                    }
                }
                .current {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                }
            }
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background: rgba(0, 163, 80, 0.1);;
            border-radius: 8px;
            &.change {
                cursor: pointer;
                width: 46px;
                height: 46px;
            }
        }
    }
}