/*---BASE---*/
@import './base/_base.scss';



header {
    padding: 0 28px 0 20px;
    background: #CD455C;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        img {
            filter: brightness(0) saturate(100%) invert(94%) sepia(55%) saturate(2%) hue-rotate(125deg) brightness(102%) contrast(100%);
        }
        .back {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            img {
                padding-right: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

main {
    margin-top: 72px;
    .wrapper {
        padding: 0 16px;
    }
    .option {
        padding: 3.5px 0 7.5px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &.active .check  {
            opacity: 1;
        }
        .name {
            font-weight: 500;
            font-size: 16px;
            line-height: 26x;
            color: #001730;
        }
        .name_en {
            font-size: 12px;
            line-height: 160%;
            color: #848790;
        }
        .check {
            margin-right: 3px;
            opacity: 0;
            transition: .2s;
        }
    }
}