@import './base/_base.scss';



header {
    padding: 0 20px;
    background: #fff;
    .wrapper {
        display: flex;
        justify-content: space-between;
        a {
            margin: 20px 0;
            display: flex;
        }
    }
    .title {
        padding-bottom: 24px;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #001730;
    }
}

main {
    margin-top: 116px;
    .wrapper {
        padding: 0 16px;
        &.border {
            border-bottom: 1px solid #F1F2F4;
            box-sizing: border-box;
        }
    }
    #tag_form {
        position: relative;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: column;
        img {
            display: none;
            cursor: pointer;
            &.active {
                display: block;
            }
        }
        .edit {
            position: absolute;
            right: 27px;
            bottom: 21px;
            z-index: 99;
        }
        .check {
            position: absolute;
            right: 27px;
            bottom: 23px;
        }
        .dies {
            font-weight: 500;
            font-size: 32px;
            line-height: 100%;
            color: #FFFFFF;
            position: absolute;
            bottom: 14px;
            left: 24px;
        }
    }
    .tag {
        background: #001730;
        border-radius: 16px;
        margin-bottom: 16px;
        label {
            margin: 0 8px 8px 8px;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: inline-block;
        }
        input {
            width: auto;
            padding: 6px 8px 6px 26px;
            font-weight: 500;
            font-size: 32px;
            line-height: 100%;
            height: 32px;
            color: #FFFFFF;
            background: transparent;
            border: unset;
            border-radius: 8px;
            transition: .3s;
            pointer-events: none;
            &.active {
                pointer-events: all;
            }
            &:focus {
                background-color: rgba(255, 255, 255, 0.1);;
            }
            &::placeholder {
                font-weight: 500;
                font-size: 48px;
                line-height: 100%;
                color: #FFFFFF;
            }
        }
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 8px 12px 0;
        .col-title {
            font-weight: 500;
            font-size: 10px;
            line-height: 160%;
            text-transform: uppercase;
            color: #848790;
        }
    }
    .common {
        .card {
            min-height: 48px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #F1F2F4;
            .item {
                display: flex;
                align-items: center;
                padding: 16px 16px 16px 16px;
                &.flash {
                    animation: flash 1s ;
                }
                img {
                    margin-right: 8px;
                }
                .title {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: #3A3C40;
                    margin-bottom: 4px;
                }
                .name {
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.005em;
                    color: #848790;
                }
            }
            .button {
                padding: 16px 16px 16px 16px;
                margin-right: 14px;
                cursor: pointer;
            }
        }
    .common-cards {
        margin-top: 8px;
        }
    }
    .add_list {
        background: #FAFBFC;
        display: none;
        &.active {
            display: block;
        }
        div.col-title {
            display: flex;
            p {
                margin: 0 8px;
            }
        }
        .cards {
            .card {
                display: none;
                &.active {
                    display: block;
                }
                .card-heading {
                    cursor: initial;
                    padding: 0;
                    .card-title {
                        padding: 16px 0 16px 16px;
                    }
                }
                .buttons {
                    padding-right: 16px;
                    display: flex;
                    align-items: center;
                    img {
                        cursor: pointer;
                    }
                    .trash.active {
                        filter: brightness(0) saturate(100%) invert(59%) sepia(83%) saturate(4769%) hue-rotate(329deg) brightness(103%) contrast(100%);
                    }
                    .trash {
                        padding: 16.5px 14.5px 16.5px 14.5px;
                    }
                    .rmv {
                        padding: 22.5px 18.5px 22.5px 18.5px;
                    }
                }
            }
        }
    }
}

.overlay {
    .icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 24px;
        bottom: 96px;
        .menu-icon {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0px 2px 8px rgba(45, 43, 70, 0.06), 0px 0px 6px rgba(45, 43, 70, 0.08);
            border-radius: 16px;
            margin-top: 16px;
        }
    }
}

.message {
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .1s;
    left: 8px;
    width: calc(100% - 16px);
    bottom: 81px;
    display: flex;
    position: fixed;
    padding: 14px 8px 15px 16px;
    background: #3A3C40;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    box-sizing: border-box;
    @media(min-width: 768px) {
        max-width: 768px;
        left: calc((100% - 770px)/2 - 8px)
    }
    p {
        font-size: 12px;
        line-height: 160%;
        color: #fff;
    }
}

.proceed {
    z-index: 9999;
    padding: 21px 18px;
    background-color: #D11241;
    box-shadow: 0px 8px 8px rgba(45, 43, 70, 0.12), 0px -2px 6px rgba(45, 43, 70, 0.08);
    border-radius: 24px;
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 17px;
    opacity: 0;
    visibility: hidden;
    transition: .1s;
    .close {
        display: none;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &.opened {
        .close {
            display: flex;
        }
        .check {
            
            display: none;
        }
    }
    @media(min-width: 768px) {
        right: calc(((100vw - 768px)/2) + 8px)
    }
    img {
        width: 20px;
        height: 14px;
    }
}

.card {
    .card-heading {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 15px 31px 16px 16px;
        border-bottom: 1px solid #F1F2F4;
        &.active {
            .arrow {
                filter: unset;
                transform: rotateX(180deg);
            }
            &+.card-content {
                transform: scaleY(1);
                height: auto;
            }
        }
        .card-title {
            display: flex;
            align-items: center;
            .category-icon {
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
            .category-name {
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                text-transform: uppercase;
                color: #3A3C40;
            }
            .counter {
                margin-left: 8px;
                background: #F1F2F4;
                border-radius: 4px;
                height: 20px;
                width: 20px;
                font-weight: bold;
                font-size: 12px;
                color: #3A3C40;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title {
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                text-transform: uppercase;
                color: #3A3C40;
                margin-bottom: 4px;
            }
            .name {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
            }
        }
        .arrow {
            filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(2051%) hue-rotate(190deg) brightness(80%) contrast(89%);
            transition: .3s;
        }
    }
    .card-content {
        transform: scaleY(0);
        transform-origin: top;
        transition: 0s;
        height: 0;
        background: #FAFBFC;
        padding: 0 16px;
        box-sizing: border-box;
        .item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #F1F2F4;
            cursor: pointer;
            &.flash {
                animation: flash 1s ;
            }
            .name {
                padding: 12px 0 12px 8px;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.005em;
                color: #848790;
                span {
                    margin-right: 15px;
                }
            }
            .add {
                padding: 16px 16px 16px 16px;
            }
        }
    }
}

@keyframes flash {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
    
  }