body {
    --black: #1F1F1F;
    --dart-grey: #8C8C8C;
    --red: #CE0538;
}

.wrapper {
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 20px;
}

.checkbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--black);
    padding-left: 34px;
    position: relative;
    margin-bottom: 15px;
    min-height: 24px;
    display: flex;
    align-items: center;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: #DEDEDE;
        border-radius: 50%;
    }
    &.active::after {
        width: 12px;
        height: 12px;
        background: var(--red);
        border: 5px solid #fff;
        outline: 1px solid var(--red);
    }
    span {
        font-weight: 700;
        margin-right: 5px;
    }
    input {
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin: 0 10px 0 5px;
        max-width: 70px;
        height: 36px;
        padding: 5px 10px;
        box-sizing: border-box;
    }
}

header {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 2px solid #CE0538;
    }
    .nav {
        .lang {
            padding: 6px 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            background: #CE0538;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            margin-right: 25px;
        }
    }
}

footer {
    .wrapper {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        border-top: 2px solid #CE0538;
        .credits {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: var(--dart-grey);
        }
    }
}